$red: #cf4520;
$l-red: #E7A28F;
$yellow: #f2a900;
$l-yellow: #F8D47F;
$green: #78be20;
$l-green: #BBDE8F;
$bluegreen: #00a499;
$l-bluegreen: #7FD1CC;
$skyblue: #71c5e8;
$l-skyblue: #B8E2F3;
$blue: #005eb8;
$l-blue: #7FAEDB;

/* PC-12column(gutter40px) 1440px~ */
$pc-c6g5: 47.22222222222222vw;
$h382: 26.52777777777778vw;

/* 1024px~1440px  */
$pc-c3g2: 20.03968253968254vw;

/* TABLET-6column(16gutter) 1024px */
