$red: #cf4520;
$l-red: #E7A28F;
$yellow: #f2a900;
$l-yellow: #F8D47F;
$green: #78be20;
$l-green: #BBDE8F;
$bluegreen: #00a499;
$l-bluegreen: #7FD1CC;
$skyblue: #71c5e8;
$l-skyblue: #B8E2F3;
$blue: #005eb8;
$l-blue: #7FAEDB;

/* PC-12column(gutter40px) 1440px~ */
$pc-c6g5: 47.22222222222222vw;
$h382: 26.52777777777778vw;

/* PC-12column(gutter40px) 1024px~1440px */
$pc-c3g2: 20.03968253968254vw;

/* Mobile-6column(gutter16px) 768px~640px */

/* Mobile-6column(gutter16px) 425px */
$m-c2g2: 33.88235294117647vw; 
$m-c6g5: 75.29411764705882vw;
