@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,regular,700);
@import "_mixin", "_var", "_function";

body,
h1,
h2,
h3,
p,
ul,
form {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3 {
  font-family: inherit;
  font-size: 100%;
}

ul {
  list-style: none;
}

img {
  vertical-align: top;
  border: none;
}

button,
input {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  border: none;
  background: none;
}

button {
  cursor: pointer;
}

a:link,
a:visited,
a:hover,
a:active {
  color: inherit;
  text-decoration: none;
}

address {
  font-style: normal;
}

header,
section,
article,
footer {
  display: block;
}

.blind-b {
  width: 1px;
  height: 1px;
  position: absolute;
  overflow: hidden;
  border: none;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
}

.clearfix::after {
  content: "";
  clear: both;
  display: block;
}

.p_r {
  position: relative;
}

.p_a {
  position: absolute;
}

.f_l {
  float: left;
}

.f_r {
  float: right;
}

.max1400 {
  @include borderbox;
  max-width: 1440px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

body {
  font-family: "Noto Sans KR", "맑은 고딕", "Malgun Gothic", sans-serif;
  font-size: 18px;
  color: #000;
  word-break: keep-all;
}

#skip a {
  display: block;
  position: absolute;
  left: -9999px;
  top: 0;
  z-index: 1000;
}

#skip a:focus {
  left: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  font-size: 22px;
  font-weight: 700;
  text-align: center;
  color: #fff;
  background: $bluegreen;
}

/* header */
#mHeader {
  display: none;
}

#pcHeader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 80px;
  z-index: 100;

  .max1400 {
    height: 100%;
  }

  h1,
  .util {
    @include t-form(translateY(-50%));
    position: relative;
    top: 50%;
    z-index: 100;
    background: red;
  }

  h1 {
    float: left;
    width: 80px;
    height: 41.52px;
    margin-left: 20px;

    img {
      width: 80px;
    }
  }

  .util {
    float: right;
    width: 120px;
    height: 100%;

    .lang {
      li {
        position: relative;
        float: left;
        line-height: 80px;

        +li {
          margin-left: 13px;

          &::after {
            @include t-form(translateY(-50%));
            content: "";
            position: absolute;
            left: -6px;
            top: calc(50% + 2px);
            width: 2px;
            height: 14px;
            background: #aaa;
          }
        }
      }
    }

    .search {
      button {
        @include t-form(translateY(-50%));
        @include bg-size(contain);
        position: absolute;
        right: 6px;
        top: calc(50% + 2px);
        width: 20px;
        height: 20px;
        background: url("../images/icon/search.svg") no-repeat center;
      }
    }
  }

  .search_wrap {
    display: none;
    position: absolute;
    left: 0;
    top: 81px;
    width: 100%;
    height: 400px;
    background: rgba(255, 255, 255, .8);

    form {
      @include t-form(translateX(-50%));
      position: absolute;
      left: 50%;
      top: 114px;
      width: 420px;
      height: 38px;
      background: red;
      border-bottom: 2px solid $bluegreen;
    }

    .searchtxt {
      width: 320px;
      height: 36px;
      background: orange;

      &::placeholder {
        color: #000;
      }
    }

    button {
      @include bg-size(contain);
      @include t-form(translateY(-50%));
      position: absolute;
      right: 18px;
      top: 50%;
      width: 24px;
      height: 24px;
      background: url("../images/icon/big-search.svg") no-repeat center;
    }

    .frequent {
      @include t-form(translateX(-50%));
      position: absolute;
      left: 50%;
      top: 182px;
      width: 440px;

      li {
        float: left;
        width: auto;
        height: 30px;
        padding: 0 22px;
        margin: 0 10px 16px;
        line-height: 30px;
        color: #fff;
        border-radius: 20px;

        &:nth-child(odd) {
          background: $blue;
        }

        &:nth-child(even) {
          background: #007069;
        }
      }
    }
  }
}

/* gnb */
#pcGnb {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  background: rgba(255, 255, 255, .8);

  a {
    display: block;
    height: 80px;
    font-weight: 700;
    line-height: 80px;
    border-bottom: 1px solid transparent;
  }

  >ul {
    position: relative;
    max-width: 840px;
    height: 80px;
    margin: 0 auto;
    background: orange;

    >li {
      position: relative;
      float: left;
      width: 140px;
      height: 100%;
      text-align: center;

      &.on {
        height: 451px;
        background: rgba(255, 255, 255, .4);
      }
    }

    ul li a {
      height: 60px;
      line-height: 60px;
      font-size: 16px;
    }

    a:hover,
    a:focus {
      color: $red;
      border-color: $red;
    }
  }

  &::before {
    @include bg-g(180deg, $l-green, $l-bluegreen);
    @include t-sition(opacity 0.3s);
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
  }

  &::after {
    @include gnb_underline;
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
  }

  &.on {
    &::before {
      opacity: 0.8;
    }

    &::after {
      opacity: 0;
    }
  }
}

#footer {
  width: 100%;
  height: 240px;
  color: #fff;
  background: $bluegreen;

  .info_link {
    width: 920px;
    height: 80px;
    margin: 0 auto;
    background: red;

    li {
      float: left;
      position: relative;
      width: 80px;
      height: 80px;
      line-height: 80px;
      font-size: 18px;
      text-align: center;
      margin: 0 10px;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        width: 120px;
        margin-right: 0;
      }

      &::after {
        @include t-form(translateY(-50%));
        content: "";
        position: absolute;
        right: -10px;
        top: 50%;
        width: 1px;
        height: 16px;
        background-color: rgba(255, 255, 255, .8);
      }

      &:last-child::after {
        display: none;
      }
    }
  }

  p {
    float: left;
    width: 154px;
    height: 80px;
    margin: 0 40px 0 46px;
    background: orange;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .info_txt {
    float: left;
    width: 440px;
    height: auto;
    background: green;

    address {
      font-size: 18px;
      line-height: 1.5;
    }

    >span {
      display: block;
      font-size: 14px;
    }
  }

  #familySite {
    float: right;
    width: 320px;
    height: auto;
    font-size: 18px;
    color: #fff;
    background: blue;

    strong {
      display: block;
      line-height: 2;
    }

    .f_btn,
    ul a {
      display: inline-block;
      width: 200px;
      height: 40px;
      padding-left: 30px;
      border: 1px solid #fff;
      background: $bluegreen;
    }

    .f_btn {
      position: relative;
      text-align: left;

      &::after {
        @include t-form(translateY(-50%));
        content: "";
        position: absolute;
        right: 10px;
        top: 50%;
        border-bottom: 6px solid #fff;
        border-left: 6.5px solid transparent;
        border-right: 6.5px solid transparent;
      }

      &.on::after {
        border-bottom: none;
        border-top: 6px solid #fff;
      }
    }

    ul {
      display: none;
      position: absolute;
      bottom: 40px;
      line-height: 40px;
      z-index: 100;

      li {
        &+li {
          margin-top: -1px;
        }

        a {
          height: 100%;

          &:hover,
          &:focus {
            text-decoration: underline;
            color: $bluegreen;
            background: #fff;
          }
        }
      }
    }

    .fGo_btn {
      position: absolute;
      width: 80px;
      height: 40px;
      color: #fff;
      background: $bluegreen;
      border: 2px solid #fff;

      &:hover,
      &:focus {
        background: #fff;
        color: $bluegreen;
        border-color: $l-bluegreen;
      }
    }
  }
}

/* PC: 1240~1024 */
@media screen and (max-width: 1240px) {
  #pcGnb {
    >ul {
      width: 720px;

      >li {
        width: 120px;
        font-size: 16px;
      }
    }
  }

  #footer {
    .info_link {
      width: 920px;
      margin: 0 auto;
    }

    p {
      margin: 0 20px 0 0;
    }

    #familySite {
      width: 280px;
    }
  }
}

/* Tablet: 1024~768 */
@media screen and (max-width: 1024px) {
  .max1400 {
    max-width: 768px;
    padding: 0 16px;
  }

  #pcHeader {
    display: none;
  }

  #mHeader {
    display: block;
    position: fixed;
    width: 100%;
    height: 60px;
    background: #fff;
    z-index: 1000;

    .max1400 {
      position: relative;
      height: 100%;
    }

    h1 {
      @include t-form(translateY(-50%));
      position: absolute;
      top: 50%;
      width: 82px;
      height: 42px;
      background: red;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .util {
      @include t-form(translateY(-50%));
      position: absolute;
      right: 16px;
      top: 50%;
      width: 108px;
      height: 34px;
      background: tomato;

      .lang {
        position: absolute;
        left: 10px;
        width: 34px;
        height: 34px;
        background: orange;

        img {
          width: 100%;
          height: 100%;
        }
      }
    }

    .menuBtn {
      position: absolute;
      right: 10px;
      width: 34px;
      height: 34px;
      background: gold;

      button {
        width: 100%;
        height: 100%;
      }

      span {
        @include t-sition(all .5s);
        position: absolute;
        left: 0;

        +span {
          @include b-radius(100px);
          width: 34px;
          height: 4px;
          background: #000;
        }

        &:nth-child(2) {
          top: 3px;
        }

        &:nth-child(3) {
          top: 15px;
        }

        &:nth-child(4) {
          bottom: 3px;
        }
      }

      button.active {
        span {
          &:nth-child(2) {
            @include t-form(rotate(45deg));
            top: 15px;
          }

          &:nth-child(3) {
            width: 0;
          }

          &:nth-child(4) {
            @include t-form(rotate(-45deg));
            top: 15px;
          }
        }
      }

    }
  }

  #mGnb {
    display: none;
    position: fixed;
    left: 0;
    top: 60px;
    width: 100%;
    background: tomato;

    * {
      @include borderbox;
    }

    >ul {
      width: 100%;
      background: orange;
    }

    >ul>li {
      width: 100%;
      font-weight: 700;
      background: #fff;

      >a {
        position: relative;
        display: block;
        width: 100%;
        max-width: 768px;
        height: 50px;
        padding: 0 50px;
        margin: 0 auto;
        line-height: 50px;
        border-bottom: 1px solid #aaa;

        &::after {
          @include bg-size(contain);
          @include t-form(translateY(-50%));
          @include t-sition(all .3s);
          position: absolute;
          content: "";
          left: 16px;
          top: 50%;
          width: 22px;
          height: 22px;
          background: url("../images/icon/second-menu.svg") no-repeat center;
        }
      }

      &.active>a {
        color: $bluegreen;

        &::after {
          @include t-form(rotate(90deg));
          top: 25%;
        }
      }
    }

    ul li ul {
      display: none;
      width: 100%;
      max-width: 768px;
      margin: 0 auto;
      background: #ececec;
      border-bottom: 1px solid #aaa;

      li {
        float: left;
        width: 50%;
        max-width: 389px;
        height: 40px;

        a {
          display: inline-block;
          width: 100%;
          height: 100%;
          padding: 0 50px;
          line-height: 40px;
          font-size: 16px;
          font-weight: 500;

        }
      }
    }

    .search_wrap {
      position: relative;
      width: 100%;
      height: 140px;
      max-width: 768px;
      padding: 0 16px;
      margin: 0 auto;
      background: pink;

      form {
        @include t-form(translate(-50%, -50%));
        position: absolute;
        left: 50%;
        top: 50%;
        width: 420px;
        height: 38px;
        background: red;
        border-bottom: 2px solid $bluegreen;
      }

      .searchtxt {
        width: 320px;
        height: 36px;
        background: orange;

        &::placeholder {
          color: #000;
        }
      }

      button {
        @include bg-size(contain);
        @include t-form(translateY(-50%));
        position: absolute;
        right: 18px;
        top: 50%;
        width: 24px;
        height: 24px;
        background: url("../images/icon/big-search.svg") no-repeat center;
      }
    }
  }

  #footer {
    text-align: center;

    .info_link {
      display: inline-block;
      width: auto;
      height: 60px;
      margin-bottom: 12px;

      li {
        width: 108px;
        height: 60px;
        line-height: 60px;
        background: tomato;
        margin: 0 8px;

        &:first-child {
          margin-left: 4px;
        }

        &:last-child {
          width: 108px;
          margin-right: 4px;
        }

        &::after {
          right: -9px;
        }
      }
    }

    p {
      width: 108px;
      height: 55px;
      margin: 0 16px 0 0;
    }

    .info_txt {
      width: 320px;
      font-weight: 300;
      text-align: left;

      address {
        font-size: 14px;
        line-height: 1.5;
      }
    } 

    #familySite {
      width: 232px;
      font-size: 14px;
      text-align: left;
  
      .f_btn,
      ul a {
        width: 124px;
        height: 34px;
        padding-left: 14px;
      }

      ul {
        bottom: 34px;
        line-height: 34x;
  
        li {
          &+li {
            margin-top: -1px;
          }
        }
      }

      .fGo_btn {
        height: 34px;
      }
    }
  }
}

/* Tablet: 780~768 */
@media screen and (max-width: 780px) {
  #footer {
    .info_link {
      li {
        width: 96px;
        height: 60px;
        line-height: 60px;
        background: tomato;
        margin: 0 8px;
      }
    }
  }
}

/* Mobile: 768~ */
@media screen and (max-width: 768px) {
  .max1400 {
    padding: 0 20px;
  }
  
  #footer {
    height: auto;

    .info_link {
      width: 336px;
      height: auto;
      margin: 20px auto;

      li {
        width: 96px;
        height: 34px;
        line-height: 34px;
        margin: 0 8px;
        font-size: 14px;

        &:first-child {
          margin-left: 8px;
        }

        &:nth-child(3) {
          &::after {
            display: none;
          }
        }

        &:last-child {
          width: 96px;
        }
      }
    }

    p{
      display: none;
    }

    .info_txt{
      float: none;
      margin: 0 auto;
    }

    #familySite {
      float: none;
      margin: 30px auto 0;
    }
  }

}

@media screen and (max-width: 520px) {
  #mGnb {

    ul li ul {
      max-width: none;

      li {
        max-width: none;

        a {
          padding: 0 0 0 50px;
          font-size: 14px;
        }
      }
    }

    .search_wrap {
      height: 140px;
      padding: 0;

      form {
        width: 280px;
        max-width: none;
      }

      .searchtxt {
        width: 220px;
      }
    }
  }
}

@media screen and (max-width: 380px) {
  #footer {

    .info_link {
      width: 288px;
      margin: 20px auto;

      li {
        margin: 0;

        &:first-child {
          margin-left: 0px;
        }

        &:last-child {
          margin: 0;
        }
      }
    }

    .info_txt{
      float: none;
      width: auto;
      margin: 0 auto;
      address{
        font-size: 12px;
      }
      span{
        font-size: 10px;
      }
    }

    #familySite {
      margin: 30px auto 0;
    }
  }

}

@media screen and (max-width: 349px) {
  .max1400 {
    padding: 0;
  }

  #mHeader {
    h1 {
      left: 20px;
    }
  }

  #footer {
    .info_txt{
      float: none;
      width: 280px;
      margin: 0 auto;
      address{
        font-size: 12px;
      }
      span{
        font-size: 10px;
      }
    }

    #familySite {
      margin: 30px auto 0;
    }
  }

}