@charset "UTF-8";
@font-face {
  font-family: NtSansKR;
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/NotoSansKR-Regular.eot");
  src: url("../fonts/NotoSansKR-Regular.eot#iefix") format("embedded-opentype"), url("../fonts/NotoSansKR-Regular.woff2") format("woff2"), url("../fonts/NotoSansKR-Regular.woff") format("woff"), url("../fonts/NotoSansKR-Regular.ttf") format("truetype"); }
@font-face {
  font-family: NtSansKR;
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/NotoSansKR-Bold.eot");
  src: url("../fonts/NotoSansKR-Bold.eot#iefix") format("embedded-opentype"), url("../fonts/NotoSansKR-Bold.woff2") format("woff2"), url("../fonts/NotoSansKR-Bold.woff") format("woff"), url("../fonts/NotoSansKR-Bold.ttf") format("truetype"); }
body,
h1,
h2,
h3,
p,
ul,
form {
  padding: 0;
  margin: 0; }

h1,
h2,
h3 {
  font-family: inherit;
  font-size: 100%; }

ul {
  list-style: none; }

img {
  vertical-align: top;
  border: none; }

button,
input {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  border: none;
  background: none; }

button {
  cursor: pointer; }

a:link,
a:visited,
a:hover,
a:active {
  color: inherit;
  text-decoration: none; }

address {
  font-style: normal; }

header,
section,
article,
footer {
  display: block; }

.blind-b {
  width: 1px;
  height: 1px;
  position: absolute;
  overflow: hidden;
  border: none;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%); }

.clearfix::after {
  content: "";
  clear: both;
  display: block; }

.p_r {
  position: relative; }

.p_a {
  position: absolute; }

.f_l {
  float: left; }

.f_r {
  float: right; }

.max1400 {
  max-width: 1400px;
  width: 1400px;
  margin: 0 auto; }

.summary {
  display: block;
  margin: 1.8rem 0 2.8rem;
  font-size: 40px;
  font-weight: 700; }

html {
  font-size: 10px; }

body {
  font-family: NtSansKR, "맑은 고딕", "Malgun Gothic", sans-serif;
  color: #000;
  word-break: keep-all; }
  body * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

h2 {
  display: inline-block;
  font-size: 2rem;
  border-bottom: 1px solid #000; }

#skip a {
  display: block;
  position: absolute;
  left: -9999px;
  top: 0;
  z-index: 1000; }

#skip a:focus {
  left: 0;
  width: 100%;
  height: 6rem;
  line-height: 6rem;
  font-size: 1.8rem;
  font-weight: 500;
  color: #fff;
  text-align: center;
  background: #00a499; }

#wrap {
  max-width: 1400px; }

/* header */
.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 8.4rem;
  z-index: 100; }
  .header#mHeader {
    display: none; }
  .header .header_content {
    max-width: 1400px;
    height: 100%;
    margin: 0 auto; }
  .header h1,
  .header .util {
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    position: relative;
    top: 50%;
    z-index: 100; }
  .header h1 {
    float: left;
    width: 80px;
    height: 41.52px; }
    .header h1 img {
      width: 80px; }
  .header .util {
    float: right;
    width: 120px;
    height: 100%;
    padding-bottom: 1.5px;
    background: red; }
    .header .util > li {
      float: left;
      position: absolute;
      top: 0;
      height: 100%; }
    .header .util .search > button {
      -webkit-background-size: cover !important;
      background-size: cover !important;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      position: absolute;
      top: 50%;
      height: 2.4rem;
      background: center no-repeat; }
    .header .util .lang {
      left: 0;
      width: 7.5rem; }
      .header .util .lang.on > button {
        color: #cf4520;
        border-color: #cf4520; }
        .header .util .lang.on > button span {
          border-color: #cf4520; }
      .header .util .lang.on .lang_menu {
        display: block; }
      .header .util .lang > button {
        display: inline-block;
        width: 2.4rem;
        font-size: 1.6rem;
        font-weight: 500;
        background-image: url("../images/common/global.svg"); }
        .header .util .lang > button:focus {
          color: #cf4520; }
          .header .util .lang > button:focus span {
            border-color: #cf4520; }
        .header .util .lang > button span {
          display: inline-block;
          margin-left: 2.8rem;
          border-bottom: 1px solid transparent; }
      .header .util .lang .lang_menu {
        display: none;
        position: absolute;
        top: 8.4rem; }
        .header .util .lang .lang_menu li {
          width: 7.5rem;
          height: 3.5rem;
          background: rgba(255, 255, 255, 0.8);
          border: 1px solid #fff;
          font-size: 1.6rem;
          text-align: center;
          line-height: 3.7rem; }
          .header .util .lang .lang_menu li a {
            border-bottom: 1px solid transparent; }
            .header .util .lang .lang_menu li a:hover, .header .util .lang .lang_menu li a:focus {
              color: #cf4520;
              border-color: #cf4520; }
    .header .util .search {
      left: 8.5rem;
      width: 2.8rem; }
      .header .util .search > button {
        width: 2.8rem;
        background-image: url("../images/common/search_b.svg"); }
        .header .util .search > button::after {
          content: "";
          position: absolute;
          top: 0.6rem;
          left: -1rem;
          width: 2px;
          height: 18px;
          background-color: rgba(0, 0, 0, 0.3); }
  .header .search_wrap {
    display: none;
    position: absolute;
    top: 8.4rem;
    left: 0;
    width: 100%;
    height: 170px;
    background: rgba(255, 255, 255, 0.8); }
    .header .search_wrap .search_place {
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      width: 500px;
      margin: 85px auto;
      border-bottom: 2px solid rgba(0, 164, 153, 0.6); }
      .header .search_wrap .search_place * {
        vertical-align: middle; }
      .header .search_wrap .search_place .searchTxt {
        padding: 0 30px 0 40px;
        width: 420px;
        height: 3.6rem;
        font-size: 2.8rem; }
        .header .search_wrap .search_place .searchTxt::placeholder {
          height: 3.6rem;
          font-size: 2.8rem; }
      .header .search_wrap .search_place button {
        width: 45px;
        padding-bottom: 8px;
        vertical-align: middle; }

/* gnb */
.gnb {
  position: absolute;
  background: rgba(255, 255, 255, 0.8);
  border-bottom: 1px solid #fff; }
  .gnb a {
    display: block;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 8.5rem;
    border-bottom: 1px solid transparent; }

#pcGnb {
  position: absolute;
  top: 0;
  left: 0;
  right: 0; }
  #pcGnb > ul {
    position: relative;
    width: 840px;
    height: 8.4rem;
    margin: 0 auto; }
    #pcGnb > ul > li {
      position: relative;
      float: left;
      width: 140px;
      height: 100%;
      text-align: center; }
      #pcGnb > ul > li.on {
        height: 451px;
        background: rgba(255, 255, 255, 0.4); }
    #pcGnb > ul ul li a {
      font-size: 1.6rem;
      line-height: 60px; }
    #pcGnb > ul a:hover,
    #pcGnb > ul a:focus {
      color: #cf4520;
      border-color: #cf4520; }
  #pcGnb::before {
    background: #BBDE8F;
    background: -webkit-linear-gradient(180deg, #BBDE8F, #7FD1CC);
    background: -o-linear-gradient(180deg, #BBDE8F, #7FD1CC);
    background: linear-gradient(180deg, #BBDE8F, #7FD1CC);
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0; }
  #pcGnb::after {
    background: #cf4520;
    background: -webkit-linear-gradient(90deg, #cf4520, #f2a900, #78be20, #00a499, #71c5e8, #005eb8);
    background: -o-linear-gradient(90deg, #cf4520, #f2a900, #78be20, #00a499, #71c5e8, #005eb8);
    background: linear-gradient(90deg, #cf4520, #f2a900, #78be20, #00a499, #71c5e8, #005eb8);
    content: "";
    position: absolute;
    width: 100%;
    height: 1px; }
  #pcGnb.on::before {
    opacity: 0.8; }
  #pcGnb.on::after {
    opacity: 0; }

#footer {
  width: 100%;
  height: 200px;
  background: #00a499; }
  #footer .footer_area {
    width: 100%;
    height: 200px; }
    #footer .footer_area > * {
      float: left; }
    #footer .footer_area p {
      width: 91px;
      margin: 76px 34px 0 0; }
      #footer .footer_area p img {
        width: 91px;
        height: 48px;
        line-height: 200px; }
    #footer .footer_area .info_txt {
      padding-top: 32px;
      height: 100%; }
      #footer .footer_area .info_txt ul {
        height: 30px; }
        #footer .footer_area .info_txt ul li {
          float: left;
          position: relative; }
          #footer .footer_area .info_txt ul li::after {
            content: "";
            position: absolute;
            top: 0.6rem;
            right: -1.6rem;
            width: 1px;
            height: 1.4rem;
            background-color: rgba(255, 255, 255, 0.8); }
          #footer .footer_area .info_txt ul li:last-child::after {
            display: none; }
          #footer .footer_area .info_txt ul li a {
            font-size: 1.8rem;
            color: #fff; }
        #footer .footer_area .info_txt ul li + li {
          margin-left: 30px; }
      #footer .footer_area .info_txt address {
        margin-top: 20px;
        font-size: 1.8rem;
        color: #fff; }
      #footer .footer_area .info_txt > span {
        display: inline-block;
        margin-top: 14px;
        font-size: 1.4rem;
        color: #fff; }
    #footer .footer_area #familySite {
      position: relative;
      margin: 32px 0 0 250px;
      width: 300px;
      height: 7.0rem;
      color: #fff;
      font-size: 1.6rem; }
      #footer .footer_area #familySite strong {
        position: relative;
        display: block;
        line-height: 38px; }
        #footer .footer_area #familySite strong::before {
          -webkit-background-size: cover !important;
          background-size: cover !important;
          left: -38px;
          top: 4px;
          content: "";
          position: absolute;
          width: 30px;
          height: 26px;
          background: url("../images/common/twoperson_w.svg") no-repeat center; }
      #footer .footer_area #familySite .f_btn,
      #footer .footer_area #familySite ul a {
        display: inline-block;
        width: 150px;
        height: 34px;
        padding-left: 30px;
        border: 1px solid #7FD1CC;
        background: #00a499; }
      #footer .footer_area #familySite .f_btn {
        position: relative;
        text-align: left; }
        #footer .footer_area #familySite .f_btn::after {
          -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
          content: "";
          position: absolute;
          right: 10px;
          top: 50%;
          border-bottom: 6px solid #fff;
          border-left: 6.5px solid transparent;
          border-right: 6.5px solid transparent; }
        #footer .footer_area #familySite .f_btn.on::after {
          border-bottom: none;
          border-top: 6px solid #fff; }
      #footer .footer_area #familySite ul {
        display: none;
        position: absolute;
        bottom: 30px;
        z-index: 100;
        line-height: 32px; }
        #footer .footer_area #familySite ul li + li {
          margin-top: -1px; }
        #footer .footer_area #familySite ul li a {
          height: 34px; }
          #footer .footer_area #familySite ul li a:hover, #footer .footer_area #familySite ul li a:focus {
            text-decoration: underline;
            color: #00a499;
            background: #fff; }
      #footer .footer_area #familySite .fGo_btn {
        position: absolute;
        width: 86px;
        height: 34px;
        color: #fff;
        background: #00a499;
        border: 2px solid #fff; }
        #footer .footer_area #familySite .fGo_btn:hover, #footer .footer_area #familySite .fGo_btn:focus {
          background: #fff;
          color: #00a499;
          border-color: #7FD1CC; }

@media screen and (max-width: 1400px) {
  .max1400 {
    max-width: 100%;
    width: 100%;
    padding: 0 5%; }

  #footer .footer_area #familySite {
    float: right;
    margin: 32px 0 0 0;
    width: 260px; } }
@media screen and (max-width: 1200px) {
  html {
    font-size: 14px; }

  .header {
    display: none; }
    .header#mHeader {
      display: block;
      width: 100%;
      background: #fff; }
    .header h1 {
      left: 5%;
      width: 8.6rem;
      height: 4.5rem; }
    .header .util {
      float: right;
      width: 15rem;
      height: 100%;
      padding-bottom: 1.5rem; }
      .header .util > li {
        float: left;
        position: absolute;
        top: 0;
        height: 100%; }
      .header .util .lang > button,
      .header .util .menuBtn > button {
        -webkit-background-size: cover !important;
        background-size: cover !important;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        position: relative;
        top: 50%;
        height: 2.4rem;
        background: center no-repeat; }
      .header .util .lang {
        left: 0;
        width: 7.5rem; }
        .header .util .lang.on > button {
          color: #cf4520;
          border-color: #cf4520; }
          .header .util .lang.on > button span {
            border-color: #cf4520; }
        .header .util .lang.on .lang_menu {
          display: block; }
        .header .util .lang > button {
          display: inline-block;
          width: 2.4rem;
          font-size: 1.6rem;
          font-weight: 500;
          background-image: url("../images/common/global.svg"); }
          .header .util .lang > button:focus {
            color: #cf4520; }
            .header .util .lang > button:focus span {
              border-color: #cf4520; }
          .header .util .lang > button span {
            display: inline-block;
            margin-left: 2.8rem;
            border-bottom: 1px solid transparent; }
        .header .util .lang .lang_menu {
          display: none;
          position: absolute;
          top: 8.4rem; }
          .header .util .lang .lang_menu li {
            width: 7.5rem;
            height: 3.5rem;
            background: rgba(255, 255, 255, 0.8);
            border: 1px solid #fff;
            font-size: 1.6rem;
            text-align: center;
            line-height: 3.7rem; }
            .header .util .lang .lang_menu li a {
              border-bottom: 1px solid transparent; }
              .header .util .lang .lang_menu li a:hover, .header .util .lang .lang_menu li a:focus {
                color: #cf4520;
                border-color: #cf4520; }
      .header .util .menuBtn button {
        left: 8rem;
        width: 2.8rem;
        height: 2.4rem; }
        .header .util .menuBtn button span {
          -webkit-transition: all, 0.5s;
          -moz-transition: all, 0.5s;
          -o-transition: all, 0.5s;
          transition: all, 0.5s;
          position: absolute;
          display: block;
          width: 2.8rem;
          height: 0.4rem;
          background: #000; }
          .header .util .menuBtn button span:nth-child(2) {
            top: 0; }
          .header .util .menuBtn button span:nth-child(3) {
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
            top: 50%; }
          .header .util .menuBtn button span:nth-child(4) {
            bottom: 0; }
      .header .util .menuBtn.on span:nth-child(2),
      .header .util .menuBtn.on span:nth-child(4) {
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        top: 50%; }
      .header .util .menuBtn.on span:nth-child(2) {
        transform: rotate(45deg); }
      .header .util .menuBtn.on span:nth-child(3) {
        opacity: 0; }
      .header .util .menuBtn.on span:nth-child(4) {
        transform: rotate(-45deg); }

  .gnb {
    display: none; }
    .gnb#mGnb {
      display: block;
      top: 8.4rem;
      width: 100%;
      background: #fff;
      overflow-y: auto; }
      .gnb#mGnb ::before {
        display: none; }
      .gnb#mGnb > ul {
        display: none;
        width: 100%;
        margin: 0;
        border-top: 1px solid rgba(0, 0, 0, 0.5); }
        .gnb#mGnb > ul > li {
          float: none;
          display: block;
          width: 100%;
          text-align: left;
          border-bottom: 1px solid rgba(0, 0, 0, 0.5); }
          .gnb#mGnb > ul > li a {
            display: block; }
            .gnb#mGnb > ul > li a:hover, .gnb#mGnb > ul > li afocus {
              color: #cf4520;
              text-decoration: underline; }
          .gnb#mGnb > ul > li > a {
            width: 100%;
            height: 5rem;
            padding-top: 2px;
            padding-left: 10%;
            font-size: 2rem;
            line-height: 5rem; }
          .gnb#mGnb > ul > li ul {
            display: none;
            padding-bottom: 1rem;
            border-top: 1px solid rgba(0, 0, 0, 0.5); }
            .gnb#mGnb > ul > li ul::after {
              content: "";
              clear: both;
              display: block; }
            .gnb#mGnb > ul > li ul li {
              float: left;
              width: 50%;
              height: 5.4rem; }
              .gnb#mGnb > ul > li ul li a {
                margin-left: 20%;
                height: 5.4rem;
                line-height: 5.4rem;
                font-size: 1.8rem; }

  #footer {
    height: 500px; }
    #footer .footer_area {
      width: 100%;
      height: 100%;
      font-size: 1.6rem; }
      #footer .footer_area > * {
        float: none; }
      #footer .footer_area p {
        display: none; }
      #footer .footer_area .info_txt {
        width: 100%;
        height: auto;
        padding: 60px 0;
        text-align: center; }
        #footer .footer_area .info_txt ul {
          display: inline-block;
          margin-bottom: 20px;
          width: 500px;
          height: auto; }
        #footer .footer_area .info_txt address {
          margin: 0 auto;
          width: 500px;
          height: auto; }
      #footer .footer_area #familySite {
        float: none;
        margin: 0 auto;
        width: 240px;
        height: auto;
        font-size: 1.6rem;
        color: #fff; }
        #footer .footer_area #familySite strong {
          position: relative;
          display: block;
          width: 199px;
          padding-left: 36px;
          line-height: 38px; }
          #footer .footer_area #familySite strong::before {
            -webkit-background-size: cover !important;
            background-size: cover !important;
            content: "";
            position: absolute;
            top: 4px;
            left: 0;
            width: 30px;
            height: 26px;
            background: url("../images/common/twoperson_w.svg") no-repeat center; }
        #footer .footer_area #familySite .f_btn,
        #footer .footer_area #familySite ul a {
          display: inline-block;
          width: 150px;
          height: 34px;
          padding-left: 30px;
          border: 1px solid #7FD1CC;
          background: #00a499; }
        #footer .footer_area #familySite .f_btn {
          position: relative;
          text-align: left; }
          #footer .footer_area #familySite .f_btn::after {
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
            content: "";
            position: absolute;
            right: 10px;
            top: 50%;
            border-bottom: 6px solid #fff;
            border-left: 6.5px solid transparent;
            border-right: 6.5px solid transparent; }
          #footer .footer_area #familySite .f_btn.on::after {
            border-bottom: none;
            border-top: 6px solid #fff; }
        #footer .footer_area #familySite ul {
          display: none;
          position: absolute;
          bottom: 30px;
          line-height: 32px;
          z-index: 100; }
          #footer .footer_area #familySite ul li + li {
            margin-top: -1px; }
          #footer .footer_area #familySite ul li a {
            height: 34px; }
            #footer .footer_area #familySite ul li a:hover, #footer .footer_area #familySite ul li a:focus {
              text-decoration: underline;
              color: #00a499;
              background: #fff; }
        #footer .footer_area #familySite .fGo_btn {
          position: absolute;
          width: 86px;
          height: 34px;
          line-height: 34px;
          color: #fff;
          background: #00a499;
          border: 2px solid #fff; }
          #footer .footer_area #familySite .fGo_btn:hover, #footer .footer_area #familySite .fGo_btn:focus {
            background: #fff;
            color: #00a499;
            border-color: #7FD1CC; } }
/* 글자 너비에 따라 변화하는 태블릿 */
@media screen and (max-width: 900px) {
  .summary {
    margin: 1.2rem 0 1.8rem; } }
/* 모바일 */
@media screen and (max-width: 768px) {
  html {
    font-size: 12px; }

  .summary {
    margin: 1.2rem 0 1.2rem; } }

/*# sourceMappingURL=common.css.map */
