@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,regular,700);
/* PC-12column(gutter40px) 1440px~ */
/* PC-12column(gutter40px) 1024px~1440px */
/* Mobile-6column(gutter16px) 425px */
body,
h1,
h2,
h3,
p,
ul,
form {
  padding: 0;
  margin: 0; }

h1,
h2,
h3 {
  font-family: inherit;
  font-size: 100%; }

ul {
  list-style: none; }

img {
  vertical-align: top;
  border: none; }

button,
input {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  border: none;
  background: none; }

button {
  cursor: pointer; }

a:link,
a:visited,
a:hover,
a:active {
  color: inherit;
  text-decoration: none; }

address {
  font-style: normal; }

header,
section,
article,
footer {
  display: block; }

.blind-b {
  width: 1px;
  height: 1px;
  position: absolute;
  overflow: hidden;
  border: none;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%); }

.clearfix::after {
  content: "";
  clear: both;
  display: block; }

.p_r {
  position: relative; }

.p_a {
  position: absolute; }

.f_l {
  float: left; }

.f_r {
  float: right; }

.max1400 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 1440px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto; }

body {
  font-family: "Noto Sans KR", "맑은 고딕", "Malgun Gothic", sans-serif;
  font-size: 18px;
  color: #000;
  word-break: keep-all; }

#skip a {
  display: block;
  position: absolute;
  left: -9999px;
  top: 0;
  z-index: 1000; }

#skip a:focus {
  left: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  font-size: 22px;
  font-weight: 700;
  text-align: center;
  color: #fff;
  background: #00a499; }

/* header */
#mHeader {
  display: none; }

#pcHeader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 80px;
  z-index: 100; }
  #pcHeader .max1400 {
    height: 100%; }
  #pcHeader h1,
  #pcHeader .util {
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    position: relative;
    top: 50%;
    z-index: 100;
    background: red; }
  #pcHeader h1 {
    float: left;
    width: 80px;
    height: 41.52px;
    margin-left: 20px; }
    #pcHeader h1 img {
      width: 80px; }
  #pcHeader .util {
    float: right;
    width: 120px;
    height: 100%; }
    #pcHeader .util .lang li {
      position: relative;
      float: left;
      line-height: 80px; }
      #pcHeader .util .lang li + li {
        margin-left: 13px; }
        #pcHeader .util .lang li + li::after {
          -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
          content: "";
          position: absolute;
          left: -6px;
          top: calc(50% + 2px);
          width: 2px;
          height: 14px;
          background: #aaa; }
    #pcHeader .util .search button {
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      -webkit-background-size: contain !important;
      background-size: contain !important;
      position: absolute;
      right: 6px;
      top: calc(50% + 2px);
      width: 20px;
      height: 20px;
      background: url("../images/icon/search.svg") no-repeat center; }
  #pcHeader .search_wrap {
    display: none;
    position: absolute;
    left: 0;
    top: 81px;
    width: 100%;
    height: 400px;
    background: rgba(255, 255, 255, 0.8); }
    #pcHeader .search_wrap form {
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      position: absolute;
      left: 50%;
      top: 114px;
      width: 420px;
      height: 38px;
      background: red;
      border-bottom: 2px solid #00a499; }
    #pcHeader .search_wrap .searchtxt {
      width: 320px;
      height: 36px;
      background: orange; }
      #pcHeader .search_wrap .searchtxt::placeholder {
        color: #000; }
    #pcHeader .search_wrap button {
      -webkit-background-size: contain !important;
      background-size: contain !important;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      position: absolute;
      right: 18px;
      top: 50%;
      width: 24px;
      height: 24px;
      background: url("../images/icon/big-search.svg") no-repeat center; }
    #pcHeader .search_wrap .frequent {
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      position: absolute;
      left: 50%;
      top: 182px;
      width: 440px; }
      #pcHeader .search_wrap .frequent li {
        float: left;
        width: auto;
        height: 30px;
        padding: 0 22px;
        margin: 0 10px 16px;
        line-height: 30px;
        color: #fff;
        border-radius: 20px; }
        #pcHeader .search_wrap .frequent li:nth-child(odd) {
          background: #005eb8; }
        #pcHeader .search_wrap .frequent li:nth-child(even) {
          background: #007069; }

/* gnb */
#pcGnb {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  background: rgba(255, 255, 255, 0.8); }
  #pcGnb a {
    display: block;
    height: 80px;
    font-weight: 700;
    line-height: 80px;
    border-bottom: 1px solid transparent; }
  #pcGnb > ul {
    position: relative;
    max-width: 840px;
    height: 80px;
    margin: 0 auto;
    background: orange; }
    #pcGnb > ul > li {
      position: relative;
      float: left;
      width: 140px;
      height: 100%;
      text-align: center; }
      #pcGnb > ul > li.on {
        height: 451px;
        background: rgba(255, 255, 255, 0.4); }
    #pcGnb > ul ul li a {
      height: 60px;
      line-height: 60px;
      font-size: 16px; }
    #pcGnb > ul a:hover,
    #pcGnb > ul a:focus {
      color: #cf4520;
      border-color: #cf4520; }
  #pcGnb::before {
    background: #BBDE8F;
    background: -webkit-linear-gradient(180deg, #BBDE8F, #7FD1CC);
    background: -o-linear-gradient(180deg, #BBDE8F, #7FD1CC);
    background: linear-gradient(180deg, #BBDE8F, #7FD1CC);
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0; }
  #pcGnb::after {
    background: #cf4520;
    background: -webkit-linear-gradient(90deg, #cf4520, #f2a900, #78be20, #00a499, #71c5e8, #005eb8);
    background: -o-linear-gradient(90deg, #cf4520, #f2a900, #78be20, #00a499, #71c5e8, #005eb8);
    background: linear-gradient(90deg, #cf4520, #f2a900, #78be20, #00a499, #71c5e8, #005eb8);
    content: "";
    position: absolute;
    width: 100%;
    height: 1px; }
  #pcGnb.on::before {
    opacity: 0.8; }
  #pcGnb.on::after {
    opacity: 0; }

#footer {
  width: 100%;
  height: 240px;
  color: #fff;
  background: #00a499; }
  #footer .info_link {
    width: 920px;
    height: 80px;
    margin: 0 auto;
    background: red; }
    #footer .info_link li {
      float: left;
      position: relative;
      width: 80px;
      height: 80px;
      line-height: 80px;
      font-size: 18px;
      text-align: center;
      margin: 0 10px; }
      #footer .info_link li:first-child {
        margin-left: 0; }
      #footer .info_link li:last-child {
        width: 120px;
        margin-right: 0; }
      #footer .info_link li::after {
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        content: "";
        position: absolute;
        right: -10px;
        top: 50%;
        width: 1px;
        height: 16px;
        background-color: rgba(255, 255, 255, 0.8); }
      #footer .info_link li:last-child::after {
        display: none; }
  #footer p {
    float: left;
    width: 154px;
    height: 80px;
    margin: 0 40px 0 46px;
    background: orange; }
    #footer p img {
      width: 100%;
      height: 100%; }
  #footer .info_txt {
    float: left;
    width: 440px;
    height: auto;
    background: green; }
    #footer .info_txt address {
      font-size: 18px;
      line-height: 1.5; }
    #footer .info_txt > span {
      display: block;
      font-size: 14px; }
  #footer #familySite {
    float: right;
    width: 320px;
    height: auto;
    font-size: 18px;
    color: #fff;
    background: blue; }
    #footer #familySite strong {
      display: block;
      line-height: 2; }
    #footer #familySite .f_btn,
    #footer #familySite ul a {
      display: inline-block;
      width: 200px;
      height: 40px;
      padding-left: 30px;
      border: 1px solid #fff;
      background: #00a499; }
    #footer #familySite .f_btn {
      position: relative;
      text-align: left; }
      #footer #familySite .f_btn::after {
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        content: "";
        position: absolute;
        right: 10px;
        top: 50%;
        border-bottom: 6px solid #fff;
        border-left: 6.5px solid transparent;
        border-right: 6.5px solid transparent; }
      #footer #familySite .f_btn.on::after {
        border-bottom: none;
        border-top: 6px solid #fff; }
    #footer #familySite ul {
      display: none;
      position: absolute;
      bottom: 40px;
      line-height: 40px;
      z-index: 100; }
      #footer #familySite ul li + li {
        margin-top: -1px; }
      #footer #familySite ul li a {
        height: 100%; }
        #footer #familySite ul li a:hover, #footer #familySite ul li a:focus {
          text-decoration: underline;
          color: #00a499;
          background: #fff; }
    #footer #familySite .fGo_btn {
      position: absolute;
      width: 80px;
      height: 40px;
      color: #fff;
      background: #00a499;
      border: 2px solid #fff; }
      #footer #familySite .fGo_btn:hover, #footer #familySite .fGo_btn:focus {
        background: #fff;
        color: #00a499;
        border-color: #7FD1CC; }

/* PC: 1240~1024 */
@media screen and (max-width: 1240px) {
  #pcGnb > ul {
    width: 720px; }
    #pcGnb > ul > li {
      width: 120px;
      font-size: 16px; }

  #footer .info_link {
    width: 920px;
    margin: 0 auto; }
  #footer p {
    margin: 0 20px 0 0; }
  #footer #familySite {
    width: 280px; } }
/* Tablet: 1024~768 */
@media screen and (max-width: 1024px) {
  .max1400 {
    max-width: 768px;
    padding: 0 16px; }

  #pcHeader {
    display: none; }

  #mHeader {
    display: block;
    position: fixed;
    width: 100%;
    height: 60px;
    background: #fff;
    z-index: 1000; }
    #mHeader .max1400 {
      position: relative;
      height: 100%; }
    #mHeader h1 {
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      position: absolute;
      top: 50%;
      width: 82px;
      height: 42px;
      background: red; }
      #mHeader h1 img {
        width: 100%;
        height: 100%; }
    #mHeader .util {
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      position: absolute;
      right: 16px;
      top: 50%;
      width: 108px;
      height: 34px;
      background: tomato; }
      #mHeader .util .lang {
        position: absolute;
        left: 10px;
        width: 34px;
        height: 34px;
        background: orange; }
        #mHeader .util .lang img {
          width: 100%;
          height: 100%; }
    #mHeader .menuBtn {
      position: absolute;
      right: 10px;
      width: 34px;
      height: 34px;
      background: gold; }
      #mHeader .menuBtn button {
        width: 100%;
        height: 100%; }
      #mHeader .menuBtn span {
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
        position: absolute;
        left: 0; }
        #mHeader .menuBtn span + span {
          -webkit-border-radius: 100px;
          border-radius: 100px;
          width: 34px;
          height: 4px;
          background: #000; }
        #mHeader .menuBtn span:nth-child(2) {
          top: 3px; }
        #mHeader .menuBtn span:nth-child(3) {
          top: 15px; }
        #mHeader .menuBtn span:nth-child(4) {
          bottom: 3px; }
      #mHeader .menuBtn button.active span:nth-child(2) {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        top: 15px; }
      #mHeader .menuBtn button.active span:nth-child(3) {
        width: 0; }
      #mHeader .menuBtn button.active span:nth-child(4) {
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        top: 15px; }

  #mGnb {
    display: none;
    position: fixed;
    left: 0;
    top: 60px;
    width: 100%;
    background: tomato; }
    #mGnb * {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
    #mGnb > ul {
      width: 100%;
      background: orange; }
    #mGnb > ul > li {
      width: 100%;
      font-weight: 700;
      background: #fff; }
      #mGnb > ul > li > a {
        position: relative;
        display: block;
        width: 100%;
        max-width: 768px;
        height: 50px;
        padding: 0 50px;
        margin: 0 auto;
        line-height: 50px;
        border-bottom: 1px solid #aaa; }
        #mGnb > ul > li > a::after {
          -webkit-background-size: contain !important;
          background-size: contain !important;
          -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
          -webkit-transition: all 0.3s;
          -moz-transition: all 0.3s;
          -o-transition: all 0.3s;
          transition: all 0.3s;
          position: absolute;
          content: "";
          left: 16px;
          top: 50%;
          width: 22px;
          height: 22px;
          background: url("../images/icon/second-menu.svg") no-repeat center; }
      #mGnb > ul > li.active > a {
        color: #00a499; }
        #mGnb > ul > li.active > a::after {
          -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
          top: 25%; }
    #mGnb ul li ul {
      display: none;
      width: 100%;
      max-width: 768px;
      margin: 0 auto;
      background: #ececec;
      border-bottom: 1px solid #aaa; }
      #mGnb ul li ul li {
        float: left;
        width: 50%;
        max-width: 389px;
        height: 40px; }
        #mGnb ul li ul li a {
          display: inline-block;
          width: 100%;
          height: 100%;
          padding: 0 50px;
          line-height: 40px;
          font-size: 16px;
          font-weight: 500; }
    #mGnb .search_wrap {
      position: relative;
      width: 100%;
      height: 140px;
      max-width: 768px;
      padding: 0 16px;
      margin: 0 auto;
      background: pink; }
      #mGnb .search_wrap form {
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        position: absolute;
        left: 50%;
        top: 50%;
        width: 420px;
        height: 38px;
        background: red;
        border-bottom: 2px solid #00a499; }
      #mGnb .search_wrap .searchtxt {
        width: 320px;
        height: 36px;
        background: orange; }
        #mGnb .search_wrap .searchtxt::placeholder {
          color: #000; }
      #mGnb .search_wrap button {
        -webkit-background-size: contain !important;
        background-size: contain !important;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        position: absolute;
        right: 18px;
        top: 50%;
        width: 24px;
        height: 24px;
        background: url("../images/icon/big-search.svg") no-repeat center; }

  #footer {
    text-align: center; }
    #footer .info_link {
      display: inline-block;
      width: auto;
      height: 60px;
      margin-bottom: 12px; }
      #footer .info_link li {
        width: 108px;
        height: 60px;
        line-height: 60px;
        background: tomato;
        margin: 0 8px; }
        #footer .info_link li:first-child {
          margin-left: 4px; }
        #footer .info_link li:last-child {
          width: 108px;
          margin-right: 4px; }
        #footer .info_link li::after {
          right: -9px; }
    #footer p {
      width: 108px;
      height: 55px;
      margin: 0 16px 0 0; }
    #footer .info_txt {
      width: 320px;
      font-weight: 300;
      text-align: left; }
      #footer .info_txt address {
        font-size: 14px;
        line-height: 1.5; }
    #footer #familySite {
      width: 232px;
      font-size: 14px;
      text-align: left; }
      #footer #familySite .f_btn,
      #footer #familySite ul a {
        width: 124px;
        height: 34px;
        padding-left: 14px; }
      #footer #familySite ul {
        bottom: 34px;
        line-height: 34x; }
        #footer #familySite ul li + li {
          margin-top: -1px; }
      #footer #familySite .fGo_btn {
        height: 34px; } }
/* Tablet: 780~768 */
@media screen and (max-width: 780px) {
  #footer .info_link li {
    width: 96px;
    height: 60px;
    line-height: 60px;
    background: tomato;
    margin: 0 8px; } }
/* Mobile: 768~ */
@media screen and (max-width: 768px) {
  .max1400 {
    padding: 0 20px; }

  #footer {
    height: auto; }
    #footer .info_link {
      width: 336px;
      height: auto;
      margin: 20px auto; }
      #footer .info_link li {
        width: 96px;
        height: 34px;
        line-height: 34px;
        margin: 0 8px;
        font-size: 14px; }
        #footer .info_link li:first-child {
          margin-left: 8px; }
        #footer .info_link li:nth-child(3)::after {
          display: none; }
        #footer .info_link li:last-child {
          width: 96px; }
    #footer p {
      display: none; }
    #footer .info_txt {
      float: none;
      margin: 0 auto; }
    #footer #familySite {
      float: none;
      margin: 30px auto 0; } }
@media screen and (max-width: 520px) {
  #mGnb ul li ul {
    max-width: none; }
    #mGnb ul li ul li {
      max-width: none; }
      #mGnb ul li ul li a {
        padding: 0 0 0 50px;
        font-size: 14px; }
  #mGnb .search_wrap {
    height: 140px;
    padding: 0; }
    #mGnb .search_wrap form {
      width: 280px;
      max-width: none; }
    #mGnb .search_wrap .searchtxt {
      width: 220px; } }
@media screen and (max-width: 380px) {
  #footer .info_link {
    width: 288px;
    margin: 20px auto; }
    #footer .info_link li {
      margin: 0; }
      #footer .info_link li:first-child {
        margin-left: 0px; }
      #footer .info_link li:last-child {
        margin: 0; }
  #footer .info_txt {
    float: none;
    width: auto;
    margin: 0 auto; }
    #footer .info_txt address {
      font-size: 12px; }
    #footer .info_txt span {
      font-size: 10px; }
  #footer #familySite {
    margin: 30px auto 0; } }
@media screen and (max-width: 349px) {
  .max1400 {
    padding: 0; }

  #mHeader h1 {
    left: 20px; }

  #footer .info_txt {
    float: none;
    width: 280px;
    margin: 0 auto; }
    #footer .info_txt address {
      font-size: 12px; }
    #footer .info_txt span {
      font-size: 10px; }
  #footer #familySite {
    margin: 30px auto 0; } }

/*# sourceMappingURL=common.css.map */
