@charset "UTF-8";
#coreValue .swiper-container .swiper-wrapper .swiper-slide {
  -webkit-background-size: cover !important;
  background-size: cover !important;
  width: 100%;
  height: 100vh;
  color: #fff;
  background: no-repeat top center; }
  #coreValue .swiper-container .swiper-wrapper .swiper-slide.customer {
    background-image: url("../images/main/mainslider1.png"); }
  #coreValue .swiper-container .swiper-wrapper .swiper-slide.job {
    background-image: url("../images/main/mainslider2.png"); }
  #coreValue .swiper-container .swiper-wrapper .swiper-slide.citizen {
    background-image: url("../images/main/mainslider3.jpg"); }
  #coreValue .swiper-container .swiper-wrapper .swiper-slide > * {
    position: absolute;
    left: 19.79166666666667vw;
    background: red; }
  #coreValue .swiper-container .swiper-wrapper .swiper-slide span {
    display: inline-block;
    top: 20%;
    padding-bottom: 8px;
    font-size: 22px;
    line-height: 1;
    border-bottom: 1px solid #fff; }
  #coreValue .swiper-container .swiper-wrapper .swiper-slide strong {
    display: block;
    top: 30%;
    font-size: 50px;
    font-weight: 700;
    line-height: 1.6; }
  #coreValue .swiper-container .swiper-wrapper .swiper-slide p {
    top: 65%;
    font-size: 18px;
    line-height: 28px; }
#coreValue .swiper-container .controller {
  position: absolute;
  left: 19.79166666666667vw;
  top: 75%;
  width: 200px;
  height: 26px;
  padding: 0 16px;
  z-index: 10000; }
  #coreValue .swiper-container .controller .swiper-button-prev,
  #coreValue .swiper-container .controller .swiper-button-next {
    top: 0;
    width: 26px;
    height: 26px;
    margin-top: 0;
    z-index: 100; }
  #coreValue .swiper-container .controller .swiper-button-prev {
    left: 16px; }
  #coreValue .swiper-container .controller .swiper-button-next {
    right: 16px; }
  #coreValue .swiper-container .controller .autoplay {
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute;
    right: 60px;
    top: 50%;
    width: 18px;
    height: 18px;
    z-index: 100; }
    #coreValue .swiper-container .controller .autoplay img {
      width: 18px;
      height: 18px;
      vertical-align: top; }
  #coreValue .swiper-container .controller .swiper-button-next::after,
  #coreValue .swiper-container .controller .swiper-button-prev::after {
    display: none; }
  #coreValue .swiper-container .controller .swiper-pagination {
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    top: 50%;
    height: 28px;
    line-height: 28px;
    font-size: 22px;
    color: #fff; }

#introduce {
  position: relative;
  height: 810px;
  margin-top: 200px; }
  #introduce > * {
    position: absolute; }
  #introduce .intro {
    bottom: 12%;
    right: 10%;
    padding: 50px;
    background: #fff;
    z-index: 10; }
    #introduce .intro strong {
      display: block;
      margin: 18px 0 28px;
      font-size: 4rem;
      font-weight: 700; }
    #introduce .intro p {
      width: 50rem;
      font-size: 1.8rem;
      line-height: 1.4; }
  #introduce img {
    width: 862px;
    height: 574px; }

#subsidairy {
  margin-bottom: 100px; }
  #subsidairy .fields > li {
    -webkit-background-size: cover !important;
    background-size: cover !important;
    position: relative;
    float: left;
    width: calc(100% / 3);
    height: calc(100vw / 2);
    overflow: hidden;
    text-align: center;
    background: center no-repeat;
    color: #fff; }
    #subsidairy .fields > li.active .txtbox {
      top: 30%; }
    #subsidairy .fields > li.active p {
      display: none; }
    #subsidairy .fields > li.active .keypoint {
      opacity: 1; }
    #subsidairy .fields > li.active h3::before {
      opacity: 0; }
    #subsidairy .fields > li.f-energy {
      background-image: url("../images/main/energy.png"); }
    #subsidairy .fields > li.f-circulation {
      background-image: url("../images/main/distribution.png"); }
    #subsidairy .fields > li.f-build {
      background-image: url("../images/main/build.png"); }
    #subsidairy .fields > li .txtbox {
      position: absolute;
      top: 45%;
      left: 0%;
      width: 100%; }
    #subsidairy .fields > li h3 {
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      position: relative;
      top: 50%;
      left: 50%;
      margin-bottom: 5.9375%;
      font-size: 36px;
      font-weight: 700; }
      #subsidairy .fields > li h3::before {
        content: "";
        position: absolute;
        top: -2rem;
        left: calc(50% - 2rem);
        width: 4rem;
        height: 0.2rem;
        background: #fff; }
    #subsidairy .fields > li .txtbox,
    #subsidairy .fields > li h3::before,
    #subsidairy .fields > li p,
    #subsidairy .fields > li .keypoint {
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s; }
    #subsidairy .fields > li p {
      padding: 0 7%;
      font-size: 2rem;
      font-weight: 500; }
    #subsidairy .fields > li .keypoint {
      opacity: 0; }
      #subsidairy .fields > li .keypoint strong {
        display: block;
        font-size: 1.8rem;
        font-weight: 500; }
      #subsidairy .fields > li .keypoint .company {
        width: 18rem;
        margin: 20px auto 0; }
        #subsidairy .fields > li .keypoint .company li + li {
          margin-top: 20px; }
        #subsidairy .fields > li .keypoint .company a {
          -webkit-border-radius: 2px;
          border-radius: 2px;
          display: block;
          width: 16rem;
          height: 5rem;
          font-size: 2rem;
          line-height: 5.2rem;
          border: 1px solid #fff; }

#grow article {
  width: 50%;
  float: left; }
#grow .article_grow .explane {
  margin-top: 20px;
  font-size: 40px;
  font-weight: 700; }
#grow .article_grow ul,
#grow .article_grow .tabpanel {
  float: left; }
#grow .article_grow ul {
  display: inline-block;
  width: 24rem;
  margin-top: 20px;
  border-top: 4px solid #000; }
#grow .article_grow li {
  display: block;
  height: 6.8rem;
  padding-top: 2px;
  line-height: 6.8rem;
  font-size: 2.0rem;
  text-align: center;
  font-weight: 400;
  border-bottom: 2px solid #aaa; }
  #grow .article_grow li.on {
    font-weight: 600;
    color: #00a499; }
#grow .article_grow .tabpanel {
  display: none;
  position: relative;
  width: 390px;
  padding: 15px;
  margin-left: 30px; }
  #grow .article_grow .tabpanel.on {
    display: block; }
  #grow .article_grow .tabpanel > img {
    width: 360px;
    height: 360px; }
  #grow .article_grow .tabpanel p {
    display: inline-block;
    width: 340px;
    height: 100px;
    padding: 10px;
    font-size: 1.6rem;
    word-break: normal; }
  #grow .article_grow .tabpanel a {
    position: absolute;
    right: 20px;
    bottom: -1rem;
    height: 2rem;
    overflow: hidden; }
    #grow .article_grow .tabpanel a span {
      display: inline-block;
      font-size: 1.6rem;
      line-height: 1.3; }
    #grow .article_grow .tabpanel a img {
      margin-left: 0.6rem;
      width: 1.4rem; }
#grow .article_promote {
  text-align: right;
  border-left: 1px solid #aaa; }
  #grow .article_promote video {
    width: 680px;
    height: 383px;
    margin-bottom: 20px;
    padding-left: 0.5rem; }
  #grow .article_promote h2 {
    float: right; }
  #grow .article_promote .summary {
    margin: 3.2rem 0 2.8rem; }
    #grow .article_promote .summary > * {
      display: block; }
    #grow .article_promote .summary strong {
      font-size: 5.2rem; }
  #grow .article_promote .movie_point {
    font-size: 1.6rem; }

#recruit {
  position: relative;
  padding-bottom: 26.04%;
  margin-top: 120px; }
  #recruit .recruit_bg {
    -webkit-background-size: cover !important;
    background-size: cover !important;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../images/main/orange_bg.png") no-repeat center bottom;
    overflow: hidden;
    transition: background .4s ease-in-out; }
  #recruit .recruit_content {
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    position: absolute;
    top: 0;
    left: 50%;
    width: 62%;
    height: 100%; }
    #recruit .recruit_content .recruit_text {
      float: right;
      width: 56%;
      padding-top: 6.92%; }
      #recruit .recruit_content .recruit_text p {
        font-size: 1.979166666666667vw;
        letter-spacing: -0.1vw; }
      #recruit .recruit_content .recruit_text a {
        -webkit-border-radius: 2px;
        border-radius: 2px;
        display: inline-block;
        padding: 0.7291666666666667vw;
        font-size: 1.25vw;
        font-weight: 500;
        line-height: 1.25vw;
        border: 1px solid #000; }
        #recruit .recruit_content .recruit_text a img {
          margin-left: 1.4rem;
          width: 1.25vw;
          height: 1.25vw;
          vertical-align: top; }
  #recruit .recruit_img {
    -webkit-background-size: contain !important;
    background-size: contain !important;
    float: left;
    width: 38%;
    height: 100%;
    background: url("../images/main/man.png") no-repeat bottom center; }

#news .news_content {
  position: relative;
  padding: 20px 50px 20px 150px; }
  #news .news_content > a {
    position: absolute;
    left: 20px;
    width: 100px;
    padding-top: 4px; }
    #news .news_content > a h2 {
      font-size: 1.8rem;
      line-height: 2rem;
      font-weight: 700;
      border-bottom: 0; }
    #news .news_content > a img {
      width: 1.4rem;
      height: 1.4rem;
      vertical-align: top; }
#news .swiper-container .swiper-wrapper .swiper-slide {
  font-size: 0;
  line-height: 1.8rem; }
  #news .swiper-container .swiper-wrapper .swiper-slide > * {
    display: inline-block;
    padding-top: 6px;
    vertical-align: middle; }
  #news .swiper-container .swiper-wrapper .swiper-slide a {
    width: 65%;
    font-size: 1.8rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
  #news .swiper-container .swiper-wrapper .swiper-slide span {
    padding-left: 10px;
    font-size: 1.6rem;
    font-weight: 300; }
#news .swiper-container .swiper-wrapper .swiper-slide-active::before {
  content: "";
  position: absolute;
  top: 5%;
  right: 5%;
  width: 1px;
  height: 1.6rem;
  background: #aaa;
  z-index: 10; }
#news .swiper-container .controller {
  position: absolute;
  width: 7rem;
  height: 2rem;
  right: 0px;
  top: 5px; }
  #news .swiper-container .controller .swiper-button-prev,
  #news .swiper-container .controller .swiper-button-next,
  #news .swiper-container .controller .autoplay {
    -webkit-background-size: cover !important;
    background-size: cover !important;
    width: 1.4rem;
    height: 1.4rem;
    background: no-repeat center; }
  #news .swiper-container .controller .swiper-button-prev,
  #news .swiper-container .controller .swiper-button-next {
    top: 0;
    margin-top: 0; }
  #news .swiper-container .controller .swiper-button-prev {
    left: 0.5rem;
    background-image: url("../images/common/prev_equal_b.svg"); }
  #news .swiper-container .controller .swiper-button-next {
    right: 0.5rem;
    background-image: url("../images/common/next_equal_b.svg"); }
  #news .swiper-container .controller .autoplay {
    position: absolute;
    left: 2.9rem;
    z-index: 10; }
  #news .swiper-container .controller .autoplay.stop {
    background-image: url("../images/common/pause_b.svg"); }
  #news .swiper-container .controller .autoplay.play {
    background-image: url("../images/common/play_b.svg"); }
  #news .swiper-container .controller .swiper-button-prev::after,
  #news .swiper-container .controller .swiper-button-next::after,
  #news .swiper-container .controller .autoplay::after {
    display: none; }

@media screen and (max-width: 1400px) {
  #grow article {
    width: auto;
    float: none; }
  #grow .article_grow ul,
  #grow .article_grow .tabpanel {
    margin-top: 40px; }
  #grow .article_grow ul {
    width: 30%; }
  #grow .article_grow .tabpanel {
    width: 60%;
    padding: 0; }
    #grow .article_grow .tabpanel > img {
      width: 100%;
      height: 100%; }
    #grow .article_grow .tabpanel p {
      width: 100%;
      height: auto;
      padding: 25px; }
  #grow .article_promote {
    margin-top: 100px;
    border-left: none; }
    #grow .article_promote video {
      display: block;
      width: 100%;
      height: auto;
      /* width: 100vw;height: 56.32352941176471vw; */
      margin-bottom: 40px;
      padding-left: 0; }
    #grow .article_promote h2 {
      float: none; } }
@media screen and (max-width: 1200px) {
  #introduce {
    position: static;
    height: auto;
    margin-top: 100px; }
    #introduce > * {
      position: static; }
    #introduce .intro {
      bottom: 0;
      right: 0;
      padding: 0 0 50px 0;
      background: none; }
      #introduce .intro strong {
        display: block;
        margin: 18px 0 28px;
        font-size: 40px;
        font-weight: 700; }
      #introduce .intro p {
        width: 50rem;
        font-size: 1.8rem;
        line-height: 1.4; }
    #introduce img {
      width: 100%;
      height: 66.58932714617169%; }

  #subsidairy {
    margin: 100px 0; }
    #subsidairy .fields {
      width: 100%;
      height: auto; }
      #subsidairy .fields > li {
        float: none;
        width: 100vw;
        height: 38.96103896103896vw; }
        #subsidairy .fields > li .txtbox,
        #subsidairy .fields > li h3,
        #subsidairy .fields > li h3::before,
        #subsidairy .fields > li p,
        #subsidairy .fields > li .keypoint {
          -webkit-transition: all 0.5s;
          -moz-transition: all 0.5s;
          -o-transition: all 0.5s;
          transition: all 0.5s; }
        #subsidairy .fields > li .txtbox {
          top: 28%; }
          #subsidairy .fields > li .txtbox h3 {
            margin-bottom: 15px; }
            #subsidairy .fields > li .txtbox h3::before {
              opacity: 0; }
          #subsidairy .fields > li .txtbox p {
            display: none; }
          #subsidairy .fields > li .txtbox .keypoint {
            opacity: 1; }
            #subsidairy .fields > li .txtbox .keypoint strong {
              opacity: 1;
              font-size: 1.8rem; }
            #subsidairy .fields > li .txtbox .keypoint .company {
              opacity: 1;
              width: 100%;
              height: 5rem;
              text-align: center; }
              #subsidairy .fields > li .txtbox .keypoint .company li {
                display: inline-block;
                width: 8rem;
                height: 3rem; }
                #subsidairy .fields > li .txtbox .keypoint .company li + li {
                  margin-top: 0;
                  margin-left: 10px; }
              #subsidairy .fields > li .txtbox .keypoint .company a {
                float: left;
                width: 8rem;
                height: 3rem;
                line-height: 3.2rem;
                font-size: 1.4rem; }

  #news .news_content {
    padding: 20px 100px 20px 210px; }
    #news .news_content > a {
      width: 140px;
      left: 30px; }
  #news .swiper-container .swiper-wrapper .swiper-slide-active::before {
    display: none; } }
/* 글자 너비에 따라 변화하는 태블릿 */
@media screen and (max-width: 900px) {
  #coreValue .swiper-container .swiper-wrapper .swiper-slide {
    -webkit-background-size: cover !important;
    background-size: cover !important;
    width: 100%;
    height: 100vh;
    background: no-repeat center;
    color: #fff; }
    #coreValue .swiper-container .swiper-wrapper .swiper-slide strong,
    #coreValue .swiper-container .swiper-wrapper .swiper-slide p,
    #coreValue .swiper-container .swiper-wrapper .swiper-slide span {
      position: absolute;
      left: 20%; }
    #coreValue .swiper-container .swiper-wrapper .swiper-slide strong {
      top: 25%;
      font-size: 50px;
      font-weight: 700; }
    #coreValue .swiper-container .swiper-wrapper .swiper-slide p {
      display: none; }

  #recruit {
    position: relative;
    padding-bottom: 26.04%;
    margin-top: 120px; }
    #recruit .recruit_bg {
      -webkit-background-size: cover !important;
      background-size: cover !important;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: url("../images/main/orange_bg.png") no-repeat center bottom;
      overflow: hidden;
      transition: background .4s ease-in-out; }
    #recruit .recruit_content {
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      position: absolute;
      top: 0;
      left: 50%;
      width: 62%;
      height: 100%; }
      #recruit .recruit_content .recruit_text {
        float: right;
        width: 55%;
        padding-top: 6.92%; }
        #recruit .recruit_content .recruit_text p {
          font-size: 1.979166666666667vw;
          letter-spacing: -0.1vw; }
        #recruit .recruit_content .recruit_text a {
          -webkit-border-radius: 2px;
          border-radius: 2px;
          display: inline-block;
          padding: 0.7291666666666667vw;
          font-size: 1.25vw;
          font-weight: 500;
          line-height: 1.25vw;
          border: 1px solid #000; }
          #recruit .recruit_content .recruit_text a img {
            margin-left: 1.4rem;
            width: 1.25vw;
            height: 1.25vw;
            vertical-align: top; }

  #news .news_content {
    padding: 20px 20px 20px 160px; }
    #news .news_content > a {
      left: 20px; } }
/* 모바일 */
@media screen and (max-width: 768px) {
  #coreValue .swiper-container .swiper-wrapper .swiper-slide strong,
  #coreValue .swiper-container .swiper-wrapper .swiper-slide p,
  #coreValue .swiper-container .swiper-wrapper .swiper-slide span {
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    position: absolute;
    left: 50%; }

  #news .swiper-container .swiper-wrapper .swiper-slide a {
    width: 60%; } }
@media screen and (max-width: 640px) {
  #news .news_content {
    padding: 20px 10px; }
    #news .news_content > a {
      position: static;
      display: block;
      width: auto;
      margin-bottom: 10px; }
  #news .swiper-container .swiper-wrapper .swiper-slide a {
    width: 55%; } }
@media screen and (max-width: 360px) {
  #coreValue .swiper-container .swiper-wrapper .swiper-slide strong {
    font-size: 28px; }

  #news .news_content {
    padding: 20px 10px; }
    #news .news_content > a {
      position: static;
      display: block;
      width: auto;
      margin-bottom: 10px; }
  #news .swiper-container .swiper-wrapper .swiper-slide a {
    width: 55%; } }

/*# sourceMappingURL=main.css.map */
