@charset "utf-8";
@import "_var.scss", "_mixin";

#coreValue {
  .swiper-container {
    .swiper-wrapper {
      .swiper-slide {
        @include bg-size(cover);
        width: 100%;
        height: 100vh;
        background: no-repeat top center;
        color: #fff;

        &.customer {
          background-image: url("../images/main/mainslider1.png");
        }

        &.job {
          background-image: url("../images/main/mainslider2.png");
        }

        &.citizen {
          background-image: url("../images/main/mainslider3.jpg");
        }

        >* {
          position: absolute;
          left: 19.79166666666667vw; 
          background: red;
        }

        span {
          top: 20.37037037037037vh;
          display: inline-block;
          padding-bottom: 8px;
          font-size: 22px;
          line-height: 1;
          border-bottom: 1px solid #fff;
        }

        strong {
          top: 25vh;
          display: block;
          font-size: 50px;
          font-weight: 700;
          line-height: 1.6;
        }

        p {
          bottom: 44.44444444444444vh;
          font-size: 18px;
          line-height: 28px;
        }
      }
    }

    .controller {
      position: absolute;
      top: 75%;
      left: 120px;
      width: 200px;
      height: 24px;
      padding: 0 16px;
      margin-left: 120px;
      z-index: 100;
      background: green;

      .swiper-button-prev,
      .swiper-button-next,
      .autoplay {
        @include bg-size(cover);
        width: 1.6rem;
        height: 1.6rem;
        background: no-repeat center;
      }

      .swiper-button-prev,
      .swiper-button-next {
        top: 0;
        margin-top: 0;
      }

      .swiper-button-prev {
        left: 0.1rem;
        background-image: url("../images/common/prev_equal_w.svg");
      }

      .swiper-button-next {
        right: 0.1rem;
        background-image: url("../images/common/next_equal_w.svg");
      }

      .autoplay {
        position: absolute;
        left: 2.8rem;
        z-index: 10;
      }

      .autoplay.stop {
        background-image: url("../images/common/pause_w.svg");
      }

      .autoplay.play {
        background-image: url("../images/common/play_w.svg");
      }

      .swiper-button-next::after,
      .swiper-button-prev::after {
        display: none;
      }

      .swiper-pagination {
        display: none;
      }
    }
  }
}

#introduce {
  position: relative;
  height: 810px;
  margin-top: 200px;

  >* {
    position: absolute;
  }

  .intro {
    bottom: 12%;
    right: 10%;
    padding: 50px;
    background: #fff;
    z-index: 10;

    strong {
      display: block;
      margin: 18px 0 28px;
      font-size: 4rem;
      font-weight: 700;
    }

    p {
      width: 50rem;
      font-size: 1.8rem;
      line-height: 1.4;
    }
  }

  img {
    width: 862px;
    height: 574px;
  }
}

#subsidairy {
  margin-bottom: 100px;

  .fields>li {
    @include bg-size(cover);
    position: relative;
    float: left;
    width: calc(100% / 3);
    height: calc(100vw / 2);
    overflow: hidden;
    text-align: center;
    background: center no-repeat;
    color: #fff;

    &.active {
      .txtbox {
        top: 30%;
      }

      p {
        display: none;
      }

      .keypoint {
        opacity: 1;
      }

      h3::before {
        opacity: 0;
      }
    }

    &.f-energy {
      background-image: url("../images/main/energy.png");
    }

    &.f-circulation {
      background-image: url("../images/main/distribution.png");
    }

    &.f-build {
      background-image: url("../images/main/build.png");
    }

    .txtbox {
      position: absolute;
      top: 45%;
      left: 0%;
      width: 100%;
    }

    h3 {
      @include t-form(translateX(-50%));
      position: relative;
      top: 50%;
      left: 50%;
      margin-bottom: 5.9375%;
      font-size: 36px;
      font-weight: 700;

      &::before {
        content: "";
        position: absolute;
        top: -2rem;
        left: calc(50% - 2rem);
        width: 4rem;
        height: 0.2rem;
        background: #fff;
      }
    }

    .txtbox,
    h3::before,
    p,
    .keypoint {
      @include t-sition(all 0.5s);
    }

    p {
      padding: 0 7%;
      font-size: 2rem;
      font-weight: 500;
    }

    .keypoint {
      opacity: 0;

      strong {
        display: block;
        font-size: 1.8rem;
        font-weight: 500;
      }

      .company {
        width: 18rem;
        margin: 20px auto 0;

        li+li {
          margin-top: 20px;
        }

        a {
          @include b-radius(2px);
          display: block;
          width: 16rem;
          height: 5rem;
          font-size: 2rem;
          line-height: 5.2rem;
          border: 1px solid #fff;
        }
      }
    }
  }
}

#grow {
  article {
    width: 50%;
    float: left;
  }

  .article_grow {
    .explane {
      margin-top: 20px;
      font-size: 40px;
      font-weight: 700;
    }

    ul,
    .tabpanel {
      float: left;
    }

    ul {
      display: inline-block;
      width: 24rem;
      margin-top: 20px;
      border-top: 4px solid #000;
    }

    li {
      display: block;
      height: 6.8rem;
      padding-top: 2px;
      line-height: 6.8rem;
      font-size: 2.0rem;
      text-align: center;
      font-weight: 400;
      border-bottom: 2px solid #aaa;

      &.on {
        font-weight: 600;
        color: $bluegreen;
      }
    }

    .tabpanel {
      display: none;
      position: relative;
      width: 390px;
      padding: 15px;
      margin-left: 30px;

      &.on {
        display: block;
      }

      >img {
        width: 360px;
        height: 360px;
      }

      p {
        display: inline-block;
        width: 340px;
        height: 100px;
        padding: 10px;
        font-size: 1.6rem;
        word-break: normal;
      }

      a {
        position: absolute;
        right: 20px;
        bottom: -1rem;
        height: 2rem;
        overflow: hidden;

        span {
          display: inline-block;
          font-size: 1.6rem;
          line-height: 1.3;
        }

        img {
          margin-left: 0.6rem;
          width: 1.4rem;
        }
      }
    }
  }

  .article_promote {
    text-align: right;
    border-left: 1px solid #aaa;

    video {
      width: 680px;
      height: 383px;
      margin-bottom: 20px;
      padding-left: 0.5rem;
    }

    h2 {
      float: right;
    }

    .summary {
      margin: 3.2rem 0 2.8rem;

      >* {
        display: block;
      }

      strong {
        font-size: 5.2rem;
      }
    }

    .movie_point {
      font-size: 1.6rem;
    }
  }
}

#recruit {
  position: relative;
  padding-bottom: 26.04%;
  margin-top: 120px;

  .recruit_bg {
    @include bg-size(cover);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../images/main/orange_bg.png") no-repeat center bottom;
    overflow: hidden;
    transition: background .4s ease-in-out;
  }

  .recruit_content {
    @include t-form(translateX(-50%));
    position: absolute;
    top: 0;
    left: 50%;
    width: 62%;
    height: 100%;

    .recruit_text {
      float: right;
      width: 56%;
      padding-top: 6.92%;

      p {
        font-size: 1.979166666666667vw;
        letter-spacing: -0.1vw;
      }

      a {
        @include b-radius(2px);
        display: inline-block;
        padding: 0.7291666666666667vw;
        font-size: 1.25vw;
        font-weight: 500;
        line-height: 1.25vw;
        border: 1px solid #000;

        img {
          margin-left: 1.4rem;
          width: 1.25vw;
          height: 1.25vw;
          vertical-align: top;
        }
      }
    }
  }

  .recruit_img {
    @include bg-size(contain);
    float: left;
    width: 38%;
    height: 100%;
    background: url("../images/main/man.png") no-repeat bottom center;
  }
}

#news {
  .news_content {
    position: relative;
    padding: 20px 50px 20px 150px;

    >a {
      position: absolute;
      left: 20px;
      width: 100px;
      padding-top: 4px;

      h2 {
        font-size: 1.8rem;
        line-height: 2rem;
        font-weight: 700;
        border-bottom: 0;
      }

      img {
        width: 1.4rem;
        height: 1.4rem;
        vertical-align: top;
      }
    }
  }

  .swiper-container {
    .swiper-wrapper {
      .swiper-slide {
        font-size: 0;
        line-height: 1.8rem;

        >* {
          display: inline-block;
          padding-top: 6px;
          vertical-align: middle
        }

        a {
          width: 65%;
          font-size: 1.8rem;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        span {
          padding-left: 10px;
          font-size: 1.6rem;
          font-weight: 300;
        }
      }

      .swiper-slide-active {
        &::before {
          content: "";
          position: absolute;
          top: 5%;
          right: 5%;
          width: 1px;
          height: 1.6rem;
          background: #aaa;
          z-index: 10;
        }
      }
    }

    .controller {
      position: absolute;
      width: 7rem;
      height: 2rem;
      right: 0px;
      top: 5px;

      .swiper-button-prev,
      .swiper-button-next,
      .autoplay {
        @include bg-size(cover);
        width: 1.4rem;
        height: 1.4rem;
        background: no-repeat center;
      }

      .swiper-button-prev,
      .swiper-button-next {
        top: 0;
        margin-top: 0;
      }

      .swiper-button-prev {
        left: 0.5rem;
        background-image: url("../images/common/prev_equal_b.svg");
      }

      .swiper-button-next {
        right: 0.5rem;
        background-image: url("../images/common/next_equal_b.svg");
      }

      .autoplay {
        position: absolute;
        left: 2.9rem;
        z-index: 10;
      }

      .autoplay.stop {
        background-image: url("../images/common/pause_b.svg");
      }

      .autoplay.play {
        background-image: url("../images/common/play_b.svg");
      }

      .swiper-button-prev,
      .swiper-button-next,
      .autoplay {
        &::after {
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: 1400px) {
  #grow {
    article {
      width: auto;
      float: none;
    }

    .article_grow {

      ul,
      .tabpanel {
        margin-top: 40px;
      }

      ul {
        width: 30%;
      }

      .tabpanel {
        width: 60%;
        padding: 0;

        >img {
          width: 100%;
          height: 100%;
        }

        p {
          width: 100%;
          height: auto;
          padding: 25px;
        }
      }
    }

    .article_promote {
      margin-top: 100px;
      border-left: none;

      video {
        display: block;
        width: 100%;
        height: auto;
        /* width: 100vw;height: 56.32352941176471vw; */
        margin-bottom: 40px;
        padding-left: 0;
      }

      h2 {
        float: none;
      }
    }
  }
}


@media screen and (max-width: 1200px) {
  #introduce {
    position: static;
    height: auto;
    margin-top: 100px;

    >* {
      position: static;
    }

    .intro {
      bottom: 0;
      right: 0;
      padding: 0 0 50px 0;
      background: none;

      strong {
        display: block;
        margin: 18px 0 28px;
        font-size: 40px;
        font-weight: 700;
      }

      p {
        width: 50rem;
        font-size: 1.8rem;
        line-height: 1.4;
      }
    }

    img {
      width: 100%;
      height: 66.58932714617169%;
    }
  }

  #subsidairy {
    margin: 100px 0;

    .fields {
      width: 100%;
      height: auto;

      >li {
        float: none;
        width: 100vw;
        height: 38.96103896103896vw;

        .txtbox,
        h3,
        h3::before,
        p,
        .keypoint {
          @include t-sition(all 0.5s);
        }

        .txtbox {
          top: 28%;

          h3 {
            margin-bottom: 15px;

            &::before {
              opacity: 0;
            }
          }

          p {
            display: none;
          }

          .keypoint {
            opacity: 1;

            strong {
              opacity: 1;
              font-size: 1.8rem;
            }

            .company {
              opacity: 1;
              width: 100%;
              height: 5rem;
              text-align: center;

              li {
                display: inline-block;
                width: 8rem;
                height: 3rem;

                +li {
                  margin-top: 0;
                  margin-left: 10px;
                }
              }

              a {
                float: left;
                width: 8rem;
                height: 3rem;
                line-height: 3.2rem;
                font-size: 1.4rem;
              }
            }
          }
        }
      }
    }
  }

  #news {
    .news_content {
      padding: 20px 100px 20px 210px;

      >a {
        width: 140px;
        left: 30px;
      }
    }

    .swiper-container {
      .swiper-wrapper {
        .swiper-slide-active {
          &::before {
            display: none;
          }
        }
      }
    }
  }

}


/* 글자 너비에 따라 변화하는 태블릿 */
@media screen and (max-width: 900px) {
  #coreValue {
    .swiper-container {
      .swiper-wrapper {
        .swiper-slide {
          @include bg-size(cover);
          width: 100%;
          height: 100vh;
          background: no-repeat center;
          color: #fff;

          strong,
          p,
          span {
            position: absolute;
            left: 20%;
          }

          strong {
            top: 25%;
            font-size: 50px;
            font-weight: 700;
          }

          p {
            display: none;
          }
        }
      }
    }
  }


  #recruit {
    position: relative;
    padding-bottom: 26.04%;
    margin-top: 120px;

    .recruit_bg {
      @include bg-size(cover);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: url("../images/main/orange_bg.png") no-repeat center bottom;
      overflow: hidden;
      transition: background .4s ease-in-out;
    }

    .recruit_content {
      @include t-form(translateX(-50%));
      position: absolute;
      top: 0;
      left: 50%;
      width: 62%;
      height: 100%;

      .recruit_text {
        float: right;
        width: 55%;
        padding-top: 6.92%;

        p {
          font-size: 1.979166666666667vw;
          letter-spacing: -0.1vw;
        }

        a {
          @include b-radius(2px);
          display: inline-block;
          padding: 0.7291666666666667vw;
          font-size: 1.25vw;
          font-weight: 500;
          line-height: 1.25vw;
          border: 1px solid #000;

          img {
            margin-left: 1.4rem;
            width: 1.25vw;
            height: 1.25vw;
            vertical-align: top;
          }
        }
      }
    }
  }

  #news {
    .news_content {
      padding: 20px 20px 20px 160px;

      >a {
        left: 20px;
      }
    }
  }

}


/* 모바일 */
@media screen and (max-width: 768px) {
  #coreValue {
    .swiper-container {
      .swiper-wrapper {
        .swiper-slide {

          strong,
          p,
          span {
            @include t-form(translateX(-50%));
            position: absolute;
            left: 50%;
          }
        }
      }
    }
  }


  #news {
    .swiper-container {
      .swiper-wrapper {
        .swiper-slide {
          a {
            width: 60%;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 640px) {
  #news {
    .news_content {
      padding: 20px 10px;

      >a {
        position: static;
        display: block;
        width: auto;
        margin-bottom: 10px;
      }
    }

    .swiper-container {
      .swiper-wrapper {
        .swiper-slide {
          a {
            width: 55%;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 360px) {
  #coreValue {
    .swiper-container {
      .swiper-wrapper {
        .swiper-slide {
          strong {
            font-size: 28px;
          }
        }
      }
    }
  }


  #news {
    .news_content {
      padding: 20px 10px;

      >a {
        position: static;
        display: block;
        width: auto;
        margin-bottom: 10px;
      }
    }

    .swiper-container {
      .swiper-wrapper {
        .swiper-slide {
          a {
            width: 55%;
          }
        }
      }
    }
  }
}