@charset "utf-8";
@import "_var.scss", "_mixin";

#coreValue {
  .swiper-container {
    .swiper-wrapper {
      .swiper-slide {
        @include bg-size(cover);
        width: 100%;
        height: 100vh;
        color: #fff;
        background: no-repeat top center;

        &.customer {
          background-image: url("../images/main/mainslider1.png");
        }

        &.job {
          background-image: url("../images/main/mainslider2.png");
        }

        &.citizen {
          background-image: url("../images/main/mainslider3.jpg");
        }

        >* {
          position: absolute;
          left: 19.79166666666667vw;
          background: red;
        }

        span {
          display: inline-block;
          top: 20%;
          padding-bottom: 8px;
          font-size: 22px;
          line-height: 1;
          border-bottom: 1px solid #fff;
        }

        strong {
          display: block;
          top: 30%;
          font-size: 50px;
          font-weight: 700;
          line-height: 1.6;
        }

        p {
          top: 65%;
          font-size: 18px;
          line-height: 28px;
        }
      }
    }

    .controller {
      position: absolute;
      left: 19.79166666666667vw;
      top: 75%;
      width: 200px;
      height: 26px;
      padding: 0 16px;
      z-index: 10000;

      .swiper-button-prev,
      .swiper-button-next {
        top: 0;
        width: 26px;
        height: 26px;
        margin-top: 0;
        z-index: 100;

        img {
          vertical-align: top;
        }
      }

      .swiper-button-prev {
        left: 16px;
      }

      .swiper-button-next {
        right: 16px;
      }

      .autoplay {
        @include t-form(translateY(-50%));
        position: absolute;
        right: 60px;
        top: 50%;
        width: 18px;
        height: 18px;
        z-index: 100;

        img {
          width: 18px;
          height: 18px;
          vertical-align: top;
        }
      }

      .swiper-button-next::after,
      .swiper-button-prev::after {
        display: none;
      }

      .swiper-pagination {
        @include t-form(translateY(-50%));
        top: 50%;
        height: 28px;
        line-height: 28px;
        font-size: 22px;
        color: #fff;
      }
    }
  }
}

#introduce {
  margin-top: 200px;

  .wrap-list{
    text-align: center;
    background: plum;

    ul{
      display: inline-block;
      background: skyblue;
    }
  }

  li {
    float: left;
    width: 320px;
    margin-top: 50px;
    text-align: center;
    background: pink;

    +li {
      margin-left: 40px;
    }

    .intro-icon {
      @include bg-size(contain);
      width: 120px;
      height: 130px;
      margin: 50px auto 30px;
      background: green no-repeat center bottom;
    }

    &:nth-child(1) .intro-icon {
      background-image: url("../images/icon/intro-company.svg");
    }

    &:nth-child(2) .intro-icon {
      background-image: url("../images/icon/intro-history.svg");
    }

    &:nth-child(3) .intro-icon {
      background-image: url("../images/icon/intro-holding.svg");
    }

    &:nth-child(4) .intro-icon {
      background-image: url("../images/icon/intro-invest.svg");
    }
  }

  .intro-icon+strong {
    display: block;
    font-size: 26px;
    margin-bottom: 30px;
  }

  p {
    width: 220px;
    margin: 0 auto 40px;
    line-height: 1.5;
    background: orange;
  }

  a {
    @include bg-size(6px 10px);
    display: inline-block;
    padding-right: 12px;
    background: url("../images/icon/small-arrow.svg") no-repeat top 9px right;
  }
}

#promote {
  width: 100%;
  margin-top: 200px;
  background: #ececec;

  h2 {
    @include t-form(translateX(-50%));
    position: relative;
    left: 50%;
    margin: 120px 0 100px;
  }

  video {
    float: right;
    width: 680px;
    height: 382.5px;
    margin-bottom: 150px;
  }

  .movie_point {
    margin-left: 40px;
    font-size: 22px;
    line-height: 1.8;
    background: pink;

    strong {
      display: block;
      font-size: 80px;
      margin-bottom: 70px;
      line-height: 1;
    }
  }
}

#subsidairy {
  margin-top: 150px;

  .fields {
    margin-top: 50px;
  }

  .fields>li {
    @include bg-size(cover);
    position: relative;
    float: left;
    width: calc(100% / 3);
    height: calc(100vw / 2);
    overflow: hidden;
    text-align: center;
    color: #fff;
    background: center no-repeat;

    &.active {
      .txtbox {
        top: 30%;
      }

      p {
        display: none;
      }

      .keypoint {
        opacity: 1;
      }

      h3::before {
        opacity: 0;
      }
    }

    &.f-energy {
      background-image: url("../images/main/energy.png");
    }

    &.f-circulation {
      background-image: url("../images/main/distribution.png");
    }

    &.f-build {
      background-image: url("../images/main/build.png");
    }

    .txtbox {
      position: absolute;
      left: 0%;
      top: 45%;
      width: 100%;
    }

    h3 {
      @include t-form(translateX(-50%));
      position: relative;
      left: 50%;
      top: 50%;
      margin-bottom: 5.9375%;
      font-size: 36px;
      font-weight: 700;

      &::before {
        content: "";
        position: absolute;
        top: -20px;
        left: calc(50% - 20px);
        width: 40px;
        height: 2px;
        background: #fff;
      }
    }

    .txtbox,
    h3::before,
    p,
    .keypoint {
      @include t-sition(all 0.5s);
    }

    p {
      padding: 0 20px;
      line-height: 1.8;
      font-size: 22px;
      font-weight: 500;
    }

    .keypoint {
      opacity: 0;

      strong {
        display: block;
        font-size: 22px;
        font-weight: 400;
      }

      .company {
        width: 180px;
        margin: 20px auto 0;

        li+li {
          margin-top: 20px;
        }

        a {
          @include b-radius(2px);
          display: block;
          width: 160px;
          height: 50px;
          font-size: 22px;
          line-height: 50px;
          border: 1px solid #fff;
        }
      }
    }
  }
}

#manage {
  margin-top: 200px;

  .summary {
    margin-bottom: 60px;
  }

  .core-manage {
    @include bg-size(contain);
    float: left;
    position: relative;
    width: 700px;
    height: 568px;
    margin: 4px 4px 4px 0;
    background: pink url("../images/main/manage-main.png") no-repeat center;

    &::after {
      content: "";
      position: absolute;
      left: 10px;
      top: 10px;
      width: calc(100% - 20px);
      height: calc(100% - 20px);
      border: 1px solid #fff;
    }

    >* {
      position: absolute;
      left: 6%;
      color: #fff;
      text-shadow: 0 0 2px #000;
    }

    strong {
      bottom: 17%;
      font-size: 26px;
    }

    p {
      bottom: 6%;
    }
  }

  ul {
    float: left;
    width: 696px;
    background: orange;

    li {
      position: relative;
      float: left;
      width: 342px;
      height: 280px;
      margin: 4px;
      color: #fff;
      background: green;

      &:nth-child(even) {
        margin-right: 0;
      }

      &:nth-child(1) a {
        background-image: url("../images/main/manage-ethical.png");

        &:focus,
        &:hover {
          background-image: url("../images/main/manage-ethical-c.png");
        }
      }

      &:nth-child(2) a {
        background-image: url("../images/main/manage-codevelop.png");

        &:focus,
        &:hover {
          background-image: url("../images/main/manage-codevelop-c.png");
        }
      }

      &:nth-child(3) a {
        background-image: url("../images/main/manage-contribute.png");

        &:focus,
        &:hover {
          background-image: url("../images/main/manage-contribute-c.png");
        }
      }

      &:nth-child(4) a {
        background-image: url("../images/main/manage-eco.png");

        &:focus,
        &:hover {
          background-image: url("../images/main/manage-eco-c.png");
        }
      }
    }

    a {
      @include bg-size(contain);
      @include t-sition(all .3s);
      display: block;
      width: 100%;
      height: 100%;
      text-shadow: 0 0 4px #000;
      background: no-repeat center;

      >* {
        position: absolute;
        left: 6%;
      }
    }

    strong {
      bottom: 24%;
      font-size: 22px;
    }

    p {
      bottom: 5.5%;
      font-size: 16px;
    }
  }
}

#recruit {
  position: relative;
  padding-bottom: 26.04%;
  margin-top: 200px;

  .recruit_bg {
    @include bg-size(cover);
    @include t-sition(background .4s ease-in-out);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url("../images/main/orange_bg.png") no-repeat center bottom;
    overflow: hidden;
  }

  .recruit_content {
    @include t-form(translateX(-50%));
    position: absolute;
    left: 50%;
    top: 0;
    width: 62%;
    height: 100%;

    .recruit_text {
      float: right;
      width: 56%;
      padding-top: 6.92%;

      p {
        font-size: 1.979166666666667vw;
        letter-spacing: -0.1vw;
      }

      a {
        @include b-radius(2px);
        display: inline-block;
        margin-top: 2.083333333333333vw;
        padding: 0.7291666666666667vw;
        font-size: 1.25vw;
        font-weight: 500;
        line-height: 1.25vw;
        border: 1px solid #000;

        img {
          margin-left: 1.4rem;
          width: 1.25vw;
          height: 1.25vw;
          vertical-align: top;
        }
      }
    }
  }

  .recruit_img {
    @include bg-size(contain);
    float: left;
    width: 38%;
    height: 100%;
    background: url("../images/main/man.png") no-repeat bottom center;
  }
}

#news {
  .news_content {
    position: relative;
    width: 100%;
    padding: 20px 50px 20px 150px;
    background: pink;
    box-sizing: border-box;

    >a {
      @include t-form(translateY(-50%));
      position: absolute;
      left: 20px;
      top: 50%;
      width: 100px;

      h2 {
        @include bg-size(6px 10px);
        padding: 0 14px 2px 0;
        font-size: 18px;
        font-weight: 700;
        border: none;
        background: url("../images/icon/small-arrow.svg") no-repeat right 9px;
      }
    }
  }

  .swiper-container {
    .swiper-wrapper {
      .swiper-slide {
        font-size: 0;

        >* {
          display: inline-block;
          vertical-align: middle;
        }

        a {
          width: 65%;
          font-size: 18px;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }

        span {
          padding-left: 10px;
          font-size: 16px;
          font-weight: 300;
        }
      }

      .swiper-slide-active {
        &::before {
          @include t-form(translateY(-50%));
          content: "";
          position: absolute;
          right: 5%;
          top: 50%;
          width: 1px;
          height: 16px;
          background: #aaa;
          z-index: 10;
        }
      }
    }

    .controller {
      position: absolute;
      width: 70px;
      height: 20px;
      right: 0px;
      top: 5px;

      .swiper-button-prev,
      .swiper-button-next,
      .autoplay {
        @include bg-size(cover);
        width: 16px;
        height: 18px;
        background: no-repeat center;
      }

      .swiper-button-prev,
      .swiper-button-next {
        top: 0;
        margin-top: 0;
      }

      .swiper-button-prev {
        left: 5px;
        background-image: url("../images/icon/prev_equal_b.svg");
      }

      .swiper-button-next {
        right: 5px;
        background-image: url("../images/icon/next_equal_b.svg");
      }

      .autoplay {
        position: absolute;
        left: 27px;
        z-index: 10;
      }

      .autoplay.stop {
        background-image: url("../images/icon/pause_b.svg");
      }

      .autoplay.play {
        background-image: url("../images/icon/play_b.svg");
      }

      .swiper-button-prev,
      .swiper-button-next,
      .autoplay {
        &::after {
          display: none;
        }
      }
    }
  }
}

/* PC: 1460~1240 */
@media screen and (max-width: 1460px) {
  #coreValue,
  #introduce,
  #subsidairy,
  #manage {
    h2 {
      margin-left: 40px;
    }

    .summary {
      margin-left: 40px;
    }
  }

  #introduce {

    li {
      width: $pc-c3g2;
    }
    p {
      width: $pc-c3g2;
      margin: 0 auto 40px;
    }
  }

  #promote{
    video {
      width: $pc-c6g5;
      height: $h382;
    }
  }

  #manage {
    .core-manage {
      float: none;
      width: 718px;
      height: 591px;
      margin: 0 auto;
    }

    ul {
      float: none;
      width: 721px;
      margin: 0 auto;

      li {
        width: 356px;
        height: 291px;
        margin: 3.5px;

        &:nth-child(odd) {
          margin-left: 0;
        }

        &:nth-child(even) {
          margin-right: 0;
        }

        &:nth-child(1) a {
          background-image: url("../images/main/manage-ethical@2x.png");

          &:focus,
          &:hover {
            background-image: url("../images/main/manage-ethical-c@2x.png");
          }
        }

        &:nth-child(2) a {
          background-image: url("../images/main/manage-codevelop@2x.png");

          &:focus,
          &:hover {
            background-image: url("../images/main/manage-codevelop-c@2x.png");
          }
        }

        &:nth-child(3) a {
          background-image: url("../images/main/manage-contribute@2x.png");

          &:focus,
          &:hover {
            background-image: url("../images/main/manage-contribute-c@2x.png");
          }
        }

        &:nth-child(4) a {
          background-image: url("../images/main/manage-eco@2x.png");

          &:focus,
          &:hover {
            background-image: url("../images/main/manage-eco-c@2x.png");
          }
        }

        a {
          >* {
            left: 4%;
          }
        }
      }
    }
  }
}


/* PC: 1240~1024 */
@media screen and (max-width: 1240px) {
  #promote{
    .movie_point {
      font-size: 18px;
  
      strong {
        font-size: 68px;
      }
    }
  }

  #subsidairy {
    margin: 100px 0;

    .fields {
      width: 100%;
      height: auto;

      >li {
        float: none;
        width: 100vw;
        height: 38.96103896103896vw;

        .txtbox,
        h3,
        h3::before,
        p,
        .keypoint {
          @include t-sition(all 0.5s);
        }

        .txtbox {
          top: 28%;

          h3 {
            margin-bottom: 15px;

            &::before {
              opacity: 0;
            }
          }

          p {
            display: none;
          }

          .keypoint {
            opacity: 1;

            strong {
              opacity: 1;
              font-size: 1.8rem;
            }

            .company {
              opacity: 1;
              width: 100%;
              height: 5rem;
              text-align: center;

              li {
                display: inline-block;
                width: 8rem;
                height: 3rem;

                +li {
                  margin-top: 0;
                  margin-left: 10px;
                }
              }

              a {
                float: left;
                width: 8rem;
                height: 3rem;
                line-height: 3.2rem;
                font-size: 1.4rem;
              }
            }
          }
        }
      }
    }
  }

  #news {
    .news_content {
      padding: 20px 100px 20px 210px;

      >a {
        width: 140px;
        left: 30px;
      }
    }

    .swiper-container {
      .swiper-wrapper {
        .swiper-slide-active {
          &::before {
            display: none;
          }
        }
      }
    }
  }

}


/* 글자 너비에 따라 변화하는 태블릿 */
@media screen and (max-width: 900px) {
  #coreValue {
    .swiper-container {
      .swiper-wrapper {
        .swiper-slide {
          @include bg-size(cover);
          width: 100%;
          height: 100vh;
          background: no-repeat center;
          color: #fff;

          strong,
          p,
          span {
            position: absolute;
            left: 20%;
          }

          strong {
            top: 25%;
            font-size: 50px;
            font-weight: 700;
          }

          p {
            display: none;
          }
        }
      }
    }
  }

  #recruit {
    position: relative;
    padding-bottom: 26.04%;
    margin-top: 120px;

    .recruit_bg {
      @include bg-size(cover);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: url("../images/main/orange_bg.png") no-repeat center bottom;
      overflow: hidden;
      transition: background .4s ease-in-out;
    }

    .recruit_content {
      @include t-form(translateX(-50%));
      position: absolute;
      top: 0;
      left: 50%;
      width: 62%;
      height: 100%;

      .recruit_text {
        float: right;
        width: 55%;
        padding-top: 6.92%;

        p {
          font-size: 1.979166666666667vw;
          letter-spacing: -0.1vw;
        }

        a {
          @include b-radius(2px);
          display: inline-block;
          padding: 0.7291666666666667vw;
          font-size: 1.25vw;
          font-weight: 500;
          line-height: 1.25vw;
          border: 1px solid #000;

          img {
            margin-left: 1.4rem;
            width: 1.25vw;
            height: 1.25vw;
            vertical-align: top;
          }
        }
      }
    }
  }

  #news {
    .news_content {
      padding: 20px 20px 20px 160px;

      >a {
        left: 20px;
      }
    }
  }

}


/* 모바일 */
@media screen and (max-width: 768px) {
  #coreValue {
    .swiper-container {
      .swiper-wrapper {
        .swiper-slide {

          strong,
          p,
          span {
            @include t-form(translateX(-50%));
            position: absolute;
            left: 50%;
          }
        }
      }
    }
  }


  #news {
    .swiper-container {
      .swiper-wrapper {
        .swiper-slide {
          a {
            width: 60%;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 640px) {
  #news {
    .news_content {
      padding: 20px 10px;

      >a {
        position: static;
        display: block;
        width: auto;
        margin-bottom: 10px;
      }
    }

    .swiper-container {
      .swiper-wrapper {
        .swiper-slide {
          a {
            width: 55%;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 360px) {
  #coreValue {
    .swiper-container {
      .swiper-wrapper {
        .swiper-slide {
          strong {
            font-size: 28px;
          }
        }
      }
    }
  }


  #news {
    .news_content {
      padding: 20px 10px;

      >a {
        position: static;
        display: block;
        width: auto;
        margin-bottom: 10px;
      }
    }

    .swiper-container {
      .swiper-wrapper {
        .swiper-slide {
          a {
            width: 55%;
          }
        }
      }
    }
  }
}