/* PC-12column(gutter40px) 1440px~ */
/* PC-12column(gutter40px) 1024px~1440px */
/* Mobile-6column(gutter16px) 768px~640px */
/* Mobile-6column(gutter16px) 425px */
h2 {
  display: inline-block;
  font-size: 22px;
  padding-bottom: 8px;
  border-bottom: 1px solid #000; }

.summary {
  display: block;
  margin: 20px 0 0;
  font-size: 38px;
  line-height: 1.4;
  font-weight: 400; }

#coreValue .swiper-container .swiper-wrapper .swiper-slide {
  -webkit-background-size: cover !important;
  background-size: cover !important;
  width: 100%;
  height: 100vh;
  color: #fff;
  background: no-repeat top center; }
  #coreValue .swiper-container .swiper-wrapper .swiper-slide.customer {
    background-image: url("../images/main/mainslider1.png"); }
  #coreValue .swiper-container .swiper-wrapper .swiper-slide.job {
    background-image: url("../images/main/mainslider2.png"); }
  #coreValue .swiper-container .swiper-wrapper .swiper-slide.citizen {
    background-image: url("../images/main/mainslider3.jpg"); }
  #coreValue .swiper-container .swiper-wrapper .swiper-slide > * {
    position: absolute;
    left: 19.79166666666667vw; }
  #coreValue .swiper-container .swiper-wrapper .swiper-slide span {
    display: inline-block;
    top: 20%;
    font-size: 22px;
    line-height: 1; }
    #coreValue .swiper-container .swiper-wrapper .swiper-slide span::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -8px;
      width: 100%;
      height: 1px;
      background: #fff; }
  #coreValue .swiper-container .swiper-wrapper .swiper-slide strong {
    display: block;
    top: 30%;
    font-size: 50px;
    font-weight: 700;
    line-height: 1.6;
    text-shadow: 0 0 2px #000; }
  #coreValue .swiper-container .swiper-wrapper .swiper-slide p {
    top: 65%;
    font-size: 18px;
    line-height: 28px;
    text-shadow: 0 0 10px #000; }
#coreValue .swiper-container .controller {
  position: absolute;
  left: 19.79166666666667vw;
  top: 75%;
  width: 200px;
  height: 26px;
  padding: 0 16px;
  z-index: 1000; }
  #coreValue .swiper-container .controller .swiper-button-prev,
  #coreValue .swiper-container .controller .swiper-button-next {
    top: 0;
    width: 26px;
    height: 26px;
    padding: 0;
    margin-top: 0;
    z-index: 100; }
    #coreValue .swiper-container .controller .swiper-button-prev img,
    #coreValue .swiper-container .controller .swiper-button-next img {
      width: 100%;
      height: 100%; }
  #coreValue .swiper-container .controller .swiper-button-prev {
    left: 16px; }
  #coreValue .swiper-container .controller .swiper-button-next {
    right: 16px; }
  #coreValue .swiper-container .controller .autoplay {
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute;
    right: 60px;
    top: 50%;
    width: 20px;
    height: 20px;
    padding: 0;
    z-index: 100; }
    #coreValue .swiper-container .controller .autoplay img {
      width: 100%;
      height: 100%; }
  #coreValue .swiper-container .controller .swiper-button-next::after,
  #coreValue .swiper-container .controller .swiper-button-prev::after {
    display: none; }
  #coreValue .swiper-container .controller .swiper-pagination {
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    top: 50%;
    height: 26px;
    line-height: 24px;
    font-size: 22px;
    color: #fff; }

#introduce {
  margin-top: 200px; }
  #introduce .wrap-list {
    text-align: center; }
    #introduce .wrap-list ul {
      display: inline-block; }
  #introduce li {
    float: left;
    width: 320px;
    margin-top: 50px;
    text-align: center; }
    #introduce li + li {
      margin-left: 40px; }
    #introduce li .intro-icon {
      -webkit-background-size: contain !important;
      background-size: contain !important;
      width: 120px;
      height: 130px;
      margin: 50px auto 30px;
      background: no-repeat center bottom; }
    #introduce li:nth-child(1) .intro-icon {
      background-image: url("../images/icon/intro-company.svg"); }
    #introduce li:nth-child(2) .intro-icon {
      background-image: url("../images/icon/intro-history.svg"); }
    #introduce li:nth-child(3) .intro-icon {
      background-image: url("../images/icon/intro-holding.svg"); }
    #introduce li:nth-child(4) .intro-icon {
      background-image: url("../images/icon/intro-invest.svg"); }
    #introduce li strong {
      display: block;
      font-size: 26px;
      margin-bottom: 30px; }
    #introduce li p {
      width: 220px;
      margin: 0 auto 40px;
      line-height: 1.5; }
    #introduce li a {
      -webkit-background-size: 6px 10px !important;
      background-size: 6px 10px !important;
      display: inline-block;
      padding-right: 12px;
      background: url("../images/icon/small-arrow.svg") no-repeat top 9px right; }

#promote {
  width: 100%;
  height: 800px;
  position: relative;
  margin-top: 200px;
  background: #ececec; }
  #promote h2 {
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    position: relative;
    left: 50%;
    margin: 120px 0 100px; }
  #promote video {
    -webkit-transform: translate(100%, -50%);
    transform: translate(100%, -50%);
    position: absolute;
    right: 50%;
    top: 50%;
    width: 680px;
    height: 382.5px; }
  #promote .movie_point {
    -webkit-transform: translate(-100%, -50%);
    transform: translate(-100%, -50%);
    position: absolute;
    left: 50%;
    top: 50%;
    padding-right: 60px;
    font-size: 22px;
    line-height: 1.8; }
    #promote .movie_point strong {
      display: block;
      margin-bottom: 70px;
      font-size: 80px;
      line-height: 1; }

#subsidairy {
  margin-top: 150px; }
  #subsidairy .fields {
    margin-top: 50px; }
  #subsidairy .fields > li {
    -webkit-background-size: cover !important;
    background-size: cover !important;
    position: relative;
    float: left;
    width: calc(100% / 3);
    height: 50vw;
    text-align: center;
    color: #fff;
    overflow: hidden;
    background: center no-repeat; }
    #subsidairy .fields > li.active .txtbox {
      top: 30%; }
    #subsidairy .fields > li.active p {
      display: none; }
    #subsidairy .fields > li.active .keypoint {
      opacity: 1; }
    #subsidairy .fields > li.active h3::before {
      opacity: 0; }
    #subsidairy .fields > li.f-energy {
      background-image: url("../images/main/energy.png"); }
    #subsidairy .fields > li.f-circulation {
      background-image: url("../images/main/distribution.png"); }
    #subsidairy .fields > li.f-build {
      background-image: url("../images/main/build.png"); }
    #subsidairy .fields > li .txtbox {
      position: absolute;
      left: 0%;
      top: 45%;
      width: 100%; }
    #subsidairy .fields > li h3 {
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      position: relative;
      left: 50%;
      top: 50%;
      margin-bottom: 6%;
      font-size: 36px;
      font-weight: 700; }
      #subsidairy .fields > li h3::before {
        content: "";
        position: absolute;
        top: -20px;
        left: calc(50% - 20px);
        width: 40px;
        height: 2px;
        background: #fff; }
    #subsidairy .fields > li .txtbox,
    #subsidairy .fields > li h3::before,
    #subsidairy .fields > li p,
    #subsidairy .fields > li .keypoint {
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s; }
    #subsidairy .fields > li p {
      padding: 0 20px;
      line-height: 1.8;
      font-size: 22px;
      font-weight: 500; }
    #subsidairy .fields > li .keypoint {
      opacity: 0; }
      #subsidairy .fields > li .keypoint strong {
        display: block;
        font-size: 22px;
        font-weight: 400; }
      #subsidairy .fields > li .keypoint .company {
        width: 200px;
        margin: 20px auto 0; }
        #subsidairy .fields > li .keypoint .company li + li {
          margin-top: 20px; }
        #subsidairy .fields > li .keypoint .company a {
          -webkit-border-radius: 2px;
          border-radius: 2px;
          display: block;
          width: 100%;
          height: 50px;
          line-height: 50px;
          font-size: 22px;
          border: 1px solid #fff; }

#manage {
  margin-top: 200px; }
  #manage .summary {
    margin-bottom: 60px; }
  #manage .core-manage {
    -webkit-background-size: contain !important;
    background-size: contain !important;
    float: left;
    position: relative;
    width: 700px;
    height: 568px;
    margin: 4px 4px 4px 0;
    background: url("../images/main/manage-main.png") no-repeat center; }
    #manage .core-manage::after {
      content: "";
      position: absolute;
      left: 10px;
      top: 10px;
      width: calc(100% - 20px);
      height: calc(100% - 20px);
      border: 1px solid #fff; }
    #manage .core-manage > * {
      position: absolute;
      left: 6%;
      color: #fff;
      text-shadow: 0 0 2px #000; }
    #manage .core-manage strong {
      bottom: 17%;
      font-size: 26px; }
    #manage .core-manage p {
      bottom: 6%; }
  #manage ul {
    float: left;
    width: 696px; }
    #manage ul li {
      position: relative;
      float: left;
      width: 342px;
      height: 280px;
      margin: 4px;
      color: #fff; }
      #manage ul li:nth-child(even) {
        margin-right: 0; }
      #manage ul li:nth-child(1) a {
        background-image: url("../images/main/manage-ethical.png"); }
        #manage ul li:nth-child(1) a:focus, #manage ul li:nth-child(1) a:hover {
          background-image: url("../images/main/manage-ethical-c.png"); }
      #manage ul li:nth-child(2) a {
        background-image: url("../images/main/manage-codevelop.png"); }
        #manage ul li:nth-child(2) a:focus, #manage ul li:nth-child(2) a:hover {
          background-image: url("../images/main/manage-codevelop-c.png"); }
      #manage ul li:nth-child(3) a {
        background-image: url("../images/main/manage-contribute.png"); }
        #manage ul li:nth-child(3) a:focus, #manage ul li:nth-child(3) a:hover {
          background-image: url("../images/main/manage-contribute-c.png"); }
      #manage ul li:nth-child(4) a {
        background-image: url("../images/main/manage-eco.png"); }
        #manage ul li:nth-child(4) a:focus, #manage ul li:nth-child(4) a:hover {
          background-image: url("../images/main/manage-eco-c.png"); }
    #manage ul a {
      -webkit-background-size: contain !important;
      background-size: contain !important;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
      display: block;
      width: 100%;
      height: 100%;
      text-shadow: 0 0 4px #000;
      background: no-repeat center; }
      #manage ul a > * {
        position: absolute;
        left: 6%; }
    #manage ul strong {
      bottom: 24%;
      font-size: 22px; }
    #manage ul p {
      bottom: 5.5%;
      font-size: 16px; }

#recruit {
  position: relative;
  padding-bottom: 450px;
  margin-top: 200px; }
  #recruit .recruit_bg {
    -webkit-background-size: cover !important;
    background-size: cover !important;
    -webkit-transition: background 0.4s ease-in-out;
    -moz-transition: background 0.4s ease-in-out;
    -o-transition: background 0.4s ease-in-out;
    transition: background 0.4s ease-in-out;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url("../images/main/orange_bg.png") no-repeat center bottom;
    overflow: hidden; }
  #recruit .recruit_content {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    position: absolute;
    left: 50%;
    top: 0;
    max-width: 1440px;
    width: 100%;
    height: 100%; }
    #recruit .recruit_content .recruit_text {
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      position: absolute;
      left: calc(50% + 10px);
      top: 50%; }
      #recruit .recruit_content .recruit_text p {
        font-size: 30px; }
      #recruit .recruit_content .recruit_text a {
        -webkit-background-size: 26px !important;
        background-size: 26px !important;
        -webkit-border-radius: 2px;
        border-radius: 2px;
        display: inline-block;
        margin-top: 40px;
        padding: 10px 50px 10px 10px;
        font-size: 26px;
        font-weight: 500;
        border: 1px solid #000;
        background: url("../images/icon/next_long_b.svg") no-repeat center right 14px; }
  #recruit .recruit_img {
    -webkit-background-size: contain !important;
    background-size: contain !important;
    position: absolute;
    right: calc(50% + 10px);
    bottom: 0;
    width: 520px;
    height: 486px;
    background: url("../images/main/man.png") no-repeat bottom center; }

#news .news_content {
  position: relative;
  width: 100%;
  padding: 20px 50px 20px 150px;
  box-sizing: border-box; }
  #news .news_content > a {
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute;
    left: 20px;
    top: 50%;
    width: 100px; }
    #news .news_content > a h2 {
      -webkit-background-size: 6px 10px !important;
      background-size: 6px 10px !important;
      padding: 0 14px 2px 0;
      font-size: 18px;
      font-weight: 700;
      border: none;
      background: url("../images/icon/small-arrow.svg") no-repeat right 9px; }
#news .swiper-container .swiper-wrapper .swiper-slide {
  font-size: 0; }
  #news .swiper-container .swiper-wrapper .swiper-slide > * {
    display: inline-block;
    vertical-align: middle; }
  #news .swiper-container .swiper-wrapper .swiper-slide a {
    width: 65%;
    font-size: 18px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden; }
  #news .swiper-container .swiper-wrapper .swiper-slide span {
    padding-left: 10px;
    font-size: 16px;
    font-weight: 300; }
#news .swiper-container .swiper-wrapper .swiper-slide-active::before {
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  content: "";
  position: absolute;
  right: 5%;
  top: 50%;
  width: 1px;
  height: 16px;
  background: #aaa;
  z-index: 10; }
#news .swiper-container .controller {
  position: absolute;
  width: 70px;
  height: 20px;
  right: 0px;
  top: 5px; }
  #news .swiper-container .controller .swiper-button-prev,
  #news .swiper-container .controller .swiper-button-next,
  #news .swiper-container .controller .autoplay {
    -webkit-background-size: cover !important;
    background-size: cover !important;
    width: 16px;
    height: 18px;
    background: no-repeat center; }
  #news .swiper-container .controller .swiper-button-prev,
  #news .swiper-container .controller .swiper-button-next {
    top: 0;
    margin-top: 0; }
  #news .swiper-container .controller .swiper-button-prev {
    left: 5px;
    background-image: url("../images/icon/prev_equal_b.svg"); }
  #news .swiper-container .controller .swiper-button-next {
    right: 5px;
    background-image: url("../images/icon/next_equal_b.svg"); }
  #news .swiper-container .controller .autoplay {
    position: absolute;
    left: 27px;
    z-index: 10; }
  #news .swiper-container .controller .autoplay.stop {
    background-image: url("../images/icon/pause_b.svg"); }
  #news .swiper-container .controller .autoplay.play {
    background-image: url("../images/icon/play_b.svg"); }
  #news .swiper-container .controller .swiper-button-prev::after,
  #news .swiper-container .controller .swiper-button-next::after,
  #news .swiper-container .controller .autoplay::after {
    display: none; }

/* PC: 1460~1240 */
@media screen and (max-width: 1460px) {
  #coreValue h2,
  #introduce h2,
  #subsidairy h2,
  #manage h2 {
    margin-left: 40px; }
  #coreValue .summary,
  #introduce .summary,
  #subsidairy .summary,
  #manage .summary {
    margin-left: 40px; }

  #introduce li {
    width: 20.0396825397vw; }
  #introduce p {
    width: 20.0396825397vw;
    margin: 0 auto 40px; }

  #promote video {
    width: 47.2222222222vw;
    height: 26.5277777778vw; }
  #promote .movie_point {
    font-size: 18px; }
    #promote .movie_point strong {
      font-size: 68px; }

  #subsidairy .fields > li.active .txtbox {
    top: 25%; }
  #subsidairy .fields > li .txtbox {
    top: 35%; }
  #subsidairy .fields > li h3 {
    font-size: 32px; }
  #subsidairy .fields > li p {
    font-size: 18px; }
  #subsidairy .fields > li .keypoint strong {
    font-size: 18px; }
  #subsidairy .fields > li .keypoint .company a {
    font-size: 18px; }

  #manage .core-manage {
    float: none;
    width: 718px;
    height: 591px;
    margin: 0 auto; }
  #manage ul {
    float: none;
    width: 721px;
    margin: 0 auto; }
    #manage ul li {
      width: 356px;
      height: 291px;
      margin: 3.5px; }
      #manage ul li:nth-child(odd) {
        margin-left: 0; }
      #manage ul li:nth-child(even) {
        margin-right: 0; }
      #manage ul li:nth-child(1) a {
        background-image: url("../images/main/manage-ethical@2x.png"); }
        #manage ul li:nth-child(1) a:focus, #manage ul li:nth-child(1) a:hover {
          background-image: url("../images/main/manage-ethical-c@2x.png"); }
      #manage ul li:nth-child(2) a {
        background-image: url("../images/main/manage-codevelop@2x.png"); }
        #manage ul li:nth-child(2) a:focus, #manage ul li:nth-child(2) a:hover {
          background-image: url("../images/main/manage-codevelop-c@2x.png"); }
      #manage ul li:nth-child(3) a {
        background-image: url("../images/main/manage-contribute@2x.png"); }
        #manage ul li:nth-child(3) a:focus, #manage ul li:nth-child(3) a:hover {
          background-image: url("../images/main/manage-contribute-c@2x.png"); }
      #manage ul li:nth-child(4) a {
        background-image: url("../images/main/manage-eco@2x.png"); }
        #manage ul li:nth-child(4) a:focus, #manage ul li:nth-child(4) a:hover {
          background-image: url("../images/main/manage-eco-c@2x.png"); }
      #manage ul li a > * {
        left: 4%; } }
/* PC: 1240~1024 */
@media screen and (max-width: 1240px) {
  #subsidairy .fields > li.active .txtbox {
    top: 18%; }

  #promote .movie_point {
    padding-right: 40px;
    font-size: 18px; }
    #promote .movie_point strong {
      margin-bottom: 40px;
      font-size: 64px; }

  #recruit {
    padding-bottom: 360px; }
    #recruit .recruit_content {
      max-width: none; }
    #recruit .recruit_img {
      width: 440px;
      height: 412px; }

  #news .news_content {
    padding: 20px 100px 20px 210px; }
    #news .news_content > a {
      width: 140px;
      left: 30px; }
  #news .swiper-container .swiper-wrapper .swiper-slide-active::before {
    display: none; } }
/* Tablet: 1024~768 */
@media screen and (max-width: 1024px) {
  #coreValue .swiper-container .swiper-wrapper .swiper-slide strong,
  #coreValue .swiper-container .swiper-wrapper .swiper-slide span {
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    left: 50%;
    text-align: center; }
  #coreValue .swiper-container .swiper-wrapper .swiper-slide span {
    top: 30%;
    font-size: 26px; }
    #coreValue .swiper-container .swiper-wrapper .swiper-slide span::after {
      bottom: -16px;
      height: 2px; }
    #coreValue .swiper-container .swiper-wrapper .swiper-slide span::before {
      -webkit-transform: translate(-50%, -20%);
      transform: translate(-50%, -20%);
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      width: 70vw;
      height: 80vh;
      border: 4px solid #fff;
      z-index: -100; }
  #coreValue .swiper-container .swiper-wrapper .swiper-slide:nth-child(2) span::before {
    background: #000;
    background: -webkit-linear-gradient(180deg, rgba(207, 69, 32, 0.3), #000, rgba(242, 169, 0, 0.3));
    background: -o-linear-gradient(180deg, rgba(207, 69, 32, 0.3), #000, rgba(242, 169, 0, 0.3));
    background: linear-gradient(180deg, rgba(207, 69, 32, 0.3), #000, rgba(242, 169, 0, 0.3)); }
  #coreValue .swiper-container .swiper-wrapper .swiper-slide:nth-child(3) span::before {
    background: #000;
    background: -webkit-linear-gradient(180deg, rgba(120, 190, 32, 0.3), #000, rgba(0, 164, 153, 0.3));
    background: -o-linear-gradient(180deg, rgba(120, 190, 32, 0.3), #000, rgba(0, 164, 153, 0.3));
    background: linear-gradient(180deg, rgba(120, 190, 32, 0.3), #000, rgba(0, 164, 153, 0.3)); }
  #coreValue .swiper-container .swiper-wrapper .swiper-slide:nth-child(4) span::before {
    background: #000;
    background: -webkit-linear-gradient(180deg, rgba(113, 197, 232, 0.3), #000, rgba(0, 94, 184, 0.3));
    background: -o-linear-gradient(180deg, rgba(113, 197, 232, 0.3), #000, rgba(0, 94, 184, 0.3));
    background: linear-gradient(180deg, rgba(113, 197, 232, 0.3), #000, rgba(0, 94, 184, 0.3)); }
  #coreValue .swiper-container .swiper-wrapper .swiper-slide strong {
    top: 40%;
    font-size: 60px; }
  #coreValue .swiper-container .swiper-wrapper .swiper-slide p {
    display: none; }
  #coreValue .swiper-container .controller {
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    left: 50%;
    top: auto;
    bottom: 30%;
    height: 38px; }
    #coreValue .swiper-container .controller .swiper-button-prev,
    #coreValue .swiper-container .controller .swiper-button-next {
      width: 38px;
      height: 38px; }
    #coreValue .swiper-container .controller .swiper-button-prev {
      left: 0; }
    #coreValue .swiper-container .controller .swiper-button-next {
      right: 0; }
    #coreValue .swiper-container .controller .swiper-pagination {
      left: -4px;
      height: 34px;
      line-height: 32px;
      font-size: 30px; }
    #coreValue .swiper-container .controller .autoplay {
      right: 46px;
      top: 52%;
      width: 34px;
      height: 34px; }

  #introduce .wrap-list {
    width: 100%;
    max-width: 728px; }
  #introduce li {
    -webkit-border-radius: 4px;
    border-radius: 4px;
    position: relative;
    float: none;
    width: 728px;
    height: 120px;
    background: #ececec; }
    #introduce li + li {
      margin-left: 0; }
    #introduce li > * {
      position: absolute; }
    #introduce li .intro-icon {
      -webkit-background-size: 108px auto !important;
      background-size: 108px auto !important;
      width: 108px;
      height: 120px;
      padding-right: 16px;
      margin: 0;
      background: #fff no-repeat left center; }
    #introduce li strong {
      left: 152px;
      top: 20px;
      width: 232px;
      margin: 0;
      font-size: 26px;
      text-align: left; }
    #introduce li p {
      left: 152px;
      bottom: 20px;
      width: 480px;
      height: auto;
      margin: 0;
      text-align: left; }
    #introduce li a {
      right: 14px;
      bottom: 20px; }

  #promote {
    height: auto;
    padding-bottom: 100px; }
    #promote h2 {
      margin: 100px 0 60px; }
    #promote video {
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0);
      display: block;
      position: static;
      right: auto;
      top: auto;
      width: 100%;
      height: 56.25%;
      margin: 0 auto; }
    #promote .movie_point {
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0);
      position: static;
      left: auto;
      top: auto;
      width: 100%;
      padding: 0;
      margin: 0;
      font-size: 26px;
      text-align: center; }
      #promote .movie_point strong {
        margin: 80px 0 40px 0;
        font-size: 80px; }

  #subsidairy .fields > li {
    float: none;
    width: 100%;
    height: 38.96103896103896vw; }
    #subsidairy .fields > li .txtbox {
      top: 28%; }
      #subsidairy .fields > li .txtbox h3 {
        margin-bottom: 15px; }
        #subsidairy .fields > li .txtbox h3::before {
          opacity: 0; }
      #subsidairy .fields > li .txtbox p {
        display: none; }
      #subsidairy .fields > li .txtbox .keypoint {
        opacity: 1; }
        #subsidairy .fields > li .txtbox .keypoint strong {
          opacity: 1; }
        #subsidairy .fields > li .txtbox .keypoint .company {
          opacity: 1;
          width: 100%;
          height: 40px;
          text-align: center; }
          #subsidairy .fields > li .txtbox .keypoint .company li {
            display: inline-block;
            width: 108px;
            height: 40px; }
            #subsidairy .fields > li .txtbox .keypoint .company li + li {
              margin-top: 0;
              margin-left: 16px; }
          #subsidairy .fields > li .txtbox .keypoint .company a {
            width: 100%;
            height: 40px;
            line-height: 40px; }

  #recruit {
    padding-bottom: 300px; }
    #recruit .recruit_content .recruit_text {
      left: calc(50% + 8px); }
      #recruit .recruit_content .recruit_text p {
        font-size: 22px; }
      #recruit .recruit_content .recruit_text a {
        -webkit-background-size: 26px !important;
        background-size: 26px !important;
        margin-top: 24px;
        padding: 12px 50px 12px 12px;
        font-size: 22px;
        background: url("../images/icon/next_long_b.svg") no-repeat center right 14px; }
    #recruit .recruit_img {
      right: calc(50% + 8px);
      width: 356px;
      height: 335px; }

  #news .news_content {
    padding: 20px 20px 20px 160px; }
    #news .news_content > a {
      left: 20px; } }
/* Mobile: ~768 */
@media screen and (max-width: 768px) {
  #coreValue h2,
  #introduce h2,
  #subsidairy h2,
  #manage h2 {
    margin-left: 40px; }
  #coreValue .summary,
  #introduce .summary,
  #subsidairy .summary,
  #manage .summary {
    margin-left: 40px;
    font-size: 26px; }

  #coreValue .swiper-container .swiper-wrapper .swiper-slide span {
    font-size: 18px; }
    #coreValue .swiper-container .swiper-wrapper .swiper-slide span::after {
      bottom: -12px; }
  #coreValue .swiper-container .swiper-wrapper .swiper-slide strong {
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    top: 50%;
    font-size: 32px; }
  #coreValue .swiper-container .controller {
    bottom: 25%; }

  #introduce {
    margin-top: 100px; }
    #introduce .wrap-list {
      max-width: none; }
    #introduce li {
      width: 75.2941176471vw;
      min-width: 320px;
      height: 100px;
      margin-top: 30px; }
      #introduce li + li {
        margin-top: 40px; }
      #introduce li .intro-icon {
        -webkit-background-size: 96px auto !important;
        background-size: 96px auto !important;
        width: 96px;
        height: 100px; }
      #introduce li strong,
      #introduce li p,
      #introduce li a {
        left: 142px; }
      #introduce li strong {
        top: 6px;
        width: auto;
        font-size: 20px; }
      #introduce li p {
        bottom: 36px;
        width: auto;
        margin: 0;
        font-size: 16px; }
      #introduce li a {
        bottom: 8px;
        right: auto;
        font-size: 14px;
        text-align: left;
        background-position: top 5px right; }

  #promote {
    margin-top: 80px;
    padding-bottom: 80px; }
    #promote h2 {
      margin: 60px 0 40px; }
    #promote .movie_point {
      font-size: 18px; }
      #promote .movie_point strong {
        margin: 30px 0 30px 0;
        font-size: 36px; }

  #subsidairy {
    margin-top: 100px; }
    #subsidairy .fields {
      margin-top: 30px; }
      #subsidairy .fields > li .txtbox {
        top: 18%; }
        #subsidairy .fields > li .txtbox h3 {
          margin-bottom: 10px;
          font-size: 28px; }
        #subsidairy .fields > li .txtbox p {
          display: none; }
        #subsidairy .fields > li .txtbox .keypoint .company {
          width: 100%;
          height: auto;
          margin-top: 8px; }
          #subsidairy .fields > li .txtbox .keypoint .company li {
            display: inline-block;
            width: 96px;
            height: 34px;
            margin: 8px; }
            #subsidairy .fields > li .txtbox .keypoint .company li + li {
              margin: 8px; }
          #subsidairy .fields > li .txtbox .keypoint .company a {
            width: 100%;
            height: 34px;
            line-height: 34px; }

  #manage {
    margin-top: 100px; }
    #manage .summary {
      margin-bottom: 30px; }
    #manage .core-manage {
      width: 320px;
      height: 259px;
      margin: 20px auto 8px; }
      #manage .core-manage strong {
        left: 22px;
        bottom: 22px;
        font-size: 18px; }
      #manage .core-manage p {
        display: none; }
    #manage ul {
      width: 320px;
      margin: 0 auto; }
      #manage ul li {
        width: 152px;
        height: 124px;
        margin: 8px; }
        #manage ul li:nth-child(odd) {
          margin-left: 0; }
        #manage ul li:nth-child(even) {
          margin-right: 0; }
        #manage ul li a strong {
          left: 16px;
          bottom: 16px;
          font-size: 14px; }
        #manage ul li a p {
          display: none; }

  #recruit {
    padding-bottom: 200px;
    margin-top: 100px; }
    #recruit .recruit_content .recruit_text p {
      font-size: 18px; }
    #recruit .recruit_content .recruit_text a {
      font-size: 18px; }
    #recruit .recruit_img {
      width: 232px;
      height: 219px; }

  #news .news_content > a {
    margin-bottom: 0; }
  #news .swiper-container .swiper-wrapper .swiper-slide a {
    width: 60%; } }
@media screen and (max-width: 640px) {
  #introduce li strong,
  #introduce li p,
  #introduce li a {
    left: 33.8823529412vw; }
  #introduce li strong {
    font-size: 14px; }
  #introduce li p {
    bottom: 26px;
    width: 168px;
    font-size: 14px; }
  #introduce li a {
    bottom: 4px;
    font-size: 12px; }

  #recruit {
    padding-bottom: 200px; }
    #recruit .recruit_content .recruit_text p {
      font-size: 14px; }
    #recruit .recruit_content .recruit_text a {
      -webkit-background-size: 14px !important;
      background-size: 14px !important;
      padding: 6px 24px 6px 6px;
      font-size: 14px;
      background: url("../images/icon/next_long_b.svg") no-repeat center right 6px; }
    #recruit .recruit_img {
      right: 50%;
      width: 232px;
      height: 219px; }

  #news .news_content {
    padding: 20px 10px; }
    #news .news_content > a {
      position: static;
      display: block;
      width: auto; }
  #news .swiper-container .swiper-wrapper .swiper-slide a {
    width: 55%; } }
@media screen and (max-width: 480px) {
  #coreValue h2,
  #introduce h2,
  #subsidairy h2,
  #manage h2 {
    padding-bottom: 6px;
    margin-left: 20px;
    font-size: 18px; }
  #coreValue .summary,
  #introduce .summary,
  #subsidairy .summary,
  #manage .summary {
    margin: 10px 0 0 20px;
    font-size: 18px; }

  #coreValue .swiper-container .swiper-wrapper .swiper-slide strong {
    font-size: 28px; }

  #promote {
    margin-top: 80px;
    padding-bottom: 80px; }
    #promote h2 {
      margin: 60px 0 40px;
      font-size: 18px; }
    #promote .movie_point {
      width: 280px;
      margin: 0 auto;
      font-size: 18px; }
      #promote .movie_point strong {
        margin: 30px 0 30px 0;
        font-size: 36px; }

  #subsidairy {
    margin-top: 100px; }
    #subsidairy .fields > li {
      height: 70vw; }
      #subsidairy .fields > li .txtbox h3 {
        font-size: 22px; }
      #subsidairy .fields > li .txtbox .keypoint .company {
        width: 300px; }

  #recruit {
    padding-bottom: 130px; }
    #recruit .recruit_content .recruit_text {
      left: 50%; }
      #recruit .recruit_content .recruit_text h2 {
        font-size: 16px;
        padding-bottom: 4px; }
      #recruit .recruit_content .recruit_text p {
        margin-top: 8px;
        font-size: 12px; }
      #recruit .recruit_content .recruit_text a {
        margin-top: 10px;
        font-size: 12px; }
    #recruit .recruit_img {
      width: 152px;
      height: 142px;
      left: 20px; }

  #news .news_content {
    padding: 20px 10px; }
    #news .news_content > a {
      position: static;
      display: block;
      width: auto;
      margin-bottom: 10px; }
  #news .swiper-container .swiper-wrapper .swiper-slide a {
    width: 50%; } }
@media screen and (max-width: 400px) {
  #coreValue .swiper-container .swiper-wrapper .swiper-slide span {
    font-size: 12px; }
    #coreValue .swiper-container .swiper-wrapper .swiper-slide span::after {
      bottom: -8px; }

  #recruit {
    padding-bottom: 130px; }
    #recruit .recruit_content .recruit_text {
      left: 60%; }
      #recruit .recruit_content .recruit_text h2 {
        font-size: 16px; }
      #recruit .recruit_content .recruit_text p {
        display: none; }
      #recruit .recruit_content .recruit_text a {
        padding: 8px 24px 8px 8px; }
    #recruit .recruit_img {
      width: 152px;
      height: 142px;
      left: 20px; } }
@media screen and (max-width: 349px) {
  #coreValue .swiper-container .swiper-wrapper .swiper-slide strong {
    font-size: 22px; }
  #coreValue .swiper-container .controller {
    top: auto;
    bottom: 20%;
    width: 160px;
    height: 38px; }
    #coreValue .swiper-container .controller .swiper-button-prev,
    #coreValue .swiper-container .controller .swiper-button-next {
      width: 38px;
      height: 38px; }
    #coreValue .swiper-container .controller .swiper-button-prev {
      left: 0; }
    #coreValue .swiper-container .controller .swiper-button-next {
      right: 0; }
    #coreValue .swiper-container .controller .swiper-pagination {
      left: -14px;
      height: 34px;
      line-height: 32px;
      font-size: 22px; }
    #coreValue .swiper-container .controller .autoplay {
      right: 42px;
      top: 52%;
      width: 34px;
      height: 34px; }

  #introduce {
    margin-top: 80px; }
    #introduce li {
      width: 300px;
      min-width: auto; }
      #introduce li strong,
      #introduce li p,
      #introduce li a {
        left: 112px; }

  #promote {
    margin-top: 80px;
    padding-bottom: 80px; }
    #promote h2 {
      margin: 60px 0 40px;
      font-size: 18px; }
    #promote .movie_point {
      width: 280px;
      margin: 0 auto;
      font-size: 18px; }
      #promote .movie_point strong {
        margin: 30px 0 30px 0;
        font-size: 32px; }

  #news .news_content > a {
    margin-bottom: 0; }
  #news .swiper-container .swiper-wrapper .swiper-slide a {
    width: 40%; } }

/*# sourceMappingURL=main.css.map */
